{namespace v=Tx_Vhs_ViewHelpers}
<f:if condition="{settings.context} != 'app'">
	<f:then>
		<a class="share-popup share-preview-container" href="https://www.facebook.com/sharer/sharer.php?u={encodedShareUri}">
			<div class="left">
				<div class="share-links">
					<i class="social-icon facebook"><span class="sr-only">Facebook</span></i>
				</div>
			</div>
			<div class="right">
				<div class="right-inner-left">
					<f:if condition="{event.communityUser.userLanguage}">
						<f:image width="135" src="typo3conf/ext/easyvote/Resources/Public/Images/votenow-lang-{event.communityUser.userLanguage}.jpg" alt="" />
					</f:if>
				</div>
				<div class="right-inner-right">
					<h3>
						<strong><f:translate key="mobilizations.share.title" /> - easyvote.ch</strong>
					</h3>
					<p>
						<f:if condition="{event.location}">
							<f:then>
								<f:translate key="mobilizations.share.text" arguments="{1: '{event.date -> f:format.date(format:\'%e. %B %Y\')}', 2: event.location.street, 3: '{event.location.city}{event.location.citySelection.name}'}" /><br />
							</f:then>
							<f:else>
								<f:translate key="mobilizations.share.text.noLocation" arguments="{1: '{event.date -> f:format.date(format:\'%e. %B %Y\')}'}" /><br />
							</f:else>
						</f:if>
						www.easyvote.ch
					</p>
				</div>
			</div>
		</a>
		<a class="share-preview-container" data-action="share/whatsapp/share" href="whatsapp://send?text=<f:translate key="mobilizations.share.shortText" arguments="{1: '{event.date -> f:format.date(format:\'%e. %B\')}', 2: event.location.street, 3: '{event.location.city}{event.location.citySelection.name}'}" /> {shareUri}">
			<div class="left">
				<div class="share-links">
					<i class="social-icon whatsapp"><span class="sr-only">Whatsapp</span></i>
				</div>
			</div>
			<div class="right">
				<h3>
					<strong><f:translate key="mobilizations.share.title" /></strong>
				</h3>
				<p>
					<f:if condition="{event.location}">
						<f:then>
							<f:translate key="mobilizations.share.shortText" arguments="{1: '{event.date -> f:format.date(format:\'%e. %B\')}', 2: event.location.street, 3: '{event.location.city}{event.location.citySelection.name}'}" /><br />
						</f:then>
						<f:else>
							<f:translate key="mobilizations.share.shortText.noLocation" arguments="{1: '{event.date -> f:format.date(format:\'%e. %B\')}'}" /><br />
						</f:else>
					</f:if>
					<span class="uri">{shareUri}</span>
				</p>
				<em>Mobile devices only</em>
			</div>
		</a>
		<a class="share-popup share-preview-container" href="https://twitter.com/home?status=<f:translate key="mobilizations.share.shortText" arguments="{1: '{event.date -> f:format.date(format:\'%e. %B\')}', 2: event.location.street, 3: '{event.location.city}{event.location.citySelection.name}'}" /> {shareUri} #VoteNow2015">
			<div class="left">
				<div class="share-links">
					<i class="social-icon twitter"><span class="sr-only">Twitter</span></i>
				</div>
			</div>
			<div class="right">
				<h3>
					<strong><f:translate key="mobilizations.share.title" /></strong>
				</h3>
				<p>
					<f:if condition="{event.location}">
						<f:then>
							<f:translate key="mobilizations.share.shortText" arguments="{1: '{event.date -> f:format.date(format:\'%e. %B\')}', 2: event.location.street, 3: '{event.location.city}{event.location.citySelection.name}'}" /><br />
						</f:then>
						<f:else>
							<f:translate key="mobilizations.share.shortText.noLocation" arguments="{1: '{event.date -> f:format.date(format:\'%e. %B\')}'}" /><br />
						</f:else>
					</f:if>
					<span class="uri">{shareUri}</span>
				</p>
			</div>
		</a>
		<a class="share-preview-container" href="mailto:?subject={f:translate(key:'mobilizations.share.title')}&body=<f:translate key="mobilizations.share.text" arguments="{1: '{event.date -> f:format.date(format:\'%e. %B\')}', 2: event.location.street, 3: '{event.location.city}{event.location.citySelection.name}'}" />%0D%0A{shareUri}">
			<div class="left">
				<div class="share-links">
					<i class="social-icon mail"><span class="sr-only">Mail</span></i>
				</div>
			</div>
			<div class="right">
				<h3>
					<strong><f:translate key="mobilizations.share.title" /></strong>
				</h3>
				<p>
					<f:if condition="{event.location}">
						<f:then>
							<f:translate key="mobilizations.share.text" arguments="{1: '{event.date -> f:format.date(format:\'%e. %B %Y\')}', 2: event.location.street, 3: '{event.location.city}{event.location.citySelection.name}'}" /><br />
						</f:then>
						<f:else>
							<f:translate key="mobilizations.share.text.noLocation" arguments="{1: '{event.date -> f:format.date(format:\'%e. %B %Y\')}'}" /><br />
						</f:else>
					</f:if>
					<span class="uri">{shareUri}</span>
				</p>
			</div>
		</a>
		<a target="_blank" class="share-preview-container" href="{shareUri}">
			<div class="left">
				<div class="share-links">
					<i class="social-icon link"><span class="sr-only">Link</span></i>
				</div>
			</div>
			<div class="right">
				<f:translate key="mobilizations.share.link" /><br />
				<input type="text" value="{shareUri}" onfocus="this.select();" style="width: 100%;" />
			</div>
		</a>
	</f:then>
	<f:else>
		<f:comment>
			<!-- MOBILE APP -->
		</f:comment>
		<a class="share-app share-preview-container" href="share://title={f:translate(key:'mobilizations.share.title') -> f:format.urlencode()}&text=<f:format.urlencode><f:translate key="mobilizations.share.text" arguments="{1: '{event.date -> f:format.date(format:\'%e. %B\')}', 2: event.location.street, 3: '{event.location.city}{event.location.citySelection.name}'}" /></f:format.urlencode>&url={encodedShareUri}">
			<div class="left">
				<div class="share-links">
					<i class="evicon-share"></i>
				</div>
			</div>
			<div class="right">
				<p>
					<strong><f:translate key="mobilizations.share.title" /></strong><br />
					<f:if condition="{event.location}">
						<f:then>
							<f:translate key="mobilizations.share.text" arguments="{1: '{event.date -> f:format.date(format:\'%e. %B %Y\')}', 2: event.location.street, 3: '{event.location.city}{event.location.citySelection.name}'}" /><br />
						</f:then>
						<f:else>
							<f:translate key="mobilizations.share.text.noLocation" arguments="{1: '{event.date -> f:format.date(format:\'%e. %B %Y\')}'}" /><br />
						</f:else>
					</f:if>
					<span class="uri">{shareUri}</span>
				</p>
			</div>
		</a>
	</f:else>
</f:if>
