{namespace v=Tx_Vhs_ViewHelpers}

<f:if condition="{settings.context} != 'app'">
	<f:then>
		<div class="share-preview-container facebook">
			<div class="left">
				<div class="share-links">
					<a class="share-popup" href="https://www.facebook.com/sharer/sharer.php?u={encodedShareUri}">
						<span class="facebook"></span>
					</a>
				</div>
			</div>
			<div class="right">
				<div class="right-inner-left">
					<f:if condition="{event.communityUser.userLanguage}">
						<f:image width="135" src="typo3conf/ext/easyvote/Resources/Public/Images/votenow-lang-{event.communityUser.userLanguage}.jpg" alt="" />
					</f:if>
				</div>
				<div class="right-inner-right">
					<h3>
						<strong><f:translate key="mobilizations.share.title" /> - easyvote.ch</strong>
					</h3>
					<p>
						<f:translate key="mobilizations.share.text" arguments="{1: '{event.date -> f:format.date(format:\'%e. %B\')}', 2: event.location.street, 3: '{event.location.city}{event.location.citySelection.name}'}" /><br />
						www.easyvote.ch
					</p>
				</div>
			</div>
		</div>
		<div class="share-preview-container twitter">
			<div class="left">
				<div class="share-links">
					<a class="share-popup" href="https://twitter.com/home?status=<f:translate key="mobilizations.share.shortText" arguments="{1: '{event.date -> f:format.date(format:\'%e. %B\')}', 2: event.location.street, 3: '{event.location.city}{event.location.citySelection.name}'}" /> {shareUri} #VoteNow2015">
						<span class="twitter"></span>
					</a>
				</div>
			</div>
			<div class="right">
				<h3>
					<strong><f:translate key="mobilizations.share.title" /></strong>
				</h3>
				<p>
					<f:translate key="mobilizations.share.shortText" arguments="{1: '{event.date -> f:format.date(format:\'%e. %B\')}', 2: event.location.street, 3: '{event.location.city}{event.location.citySelection.name}'}" /><br />
					<span class="uri">{shareUri}</span>
				</p>
			</div>
		</div>
		<div class="share-preview-container mail">
			<div class="left">
				<div class="share-links">
					<a class="share-popup" href="mailto:?subject={f:translate(key:'mobilizations.share.title')}&body=<f:translate key="mobilizations.share.text" arguments="{1: '{event.date -> f:format.date(format:\'%e. %B\')}', 2: event.location.street, 3: '{event.location.city}{event.location.citySelection.name}'}" />%0D%0A{shareUri}">
						<span class="mail"></span>
					</a>
				</div>
			</div>
			<div class="right">
				<h3>
					<strong><f:translate key="mobilizations.share.title" /></strong>
				</h3>
				<p>
					<f:translate key="mobilizations.share.text" arguments="{1: '{event.date -> f:format.date(format:\'%e. %B\')}', 2: event.location.street, 3: '{event.location.city}{event.location.citySelection.name}'}" /><br />
					<span class="uri">{shareUri}</span>
				</p>
			</div>
		</div>
		<div class="share-preview-container link">
			<div class="left">
				<div class="share-links">
					<a target="_blank" href="{shareUri}">
						<span class="link"></span>
					</a>
				</div>
			</div>
			<div class="right">
				<f:translate key="mobilizations.share.link" /><br />
				<input type="text" value="{shareUri}" onfocus="this.select();" style="width: 100%;" />
			</div>
		</div>
	</f:then>
	<f:else>
		<f:comment>
			<!-- MOBILE APP -->
		</f:comment>
		<div class="share-preview-container">
			<div class="left">
				<div class="share-links">
					<a class="share-app" href="share://title={f:translate(key:'mobilizations.share.title') -> f:format.urlencode()}&text={f:translate(key:'mobilizations.share.text') -> f:format.urlencode()}&url={encodedShareUri}">
						<i class="evicon-share"></i>
					</a>
				</div>
			</div>
			<div class="right">
				<p>
					<strong><f:translate key="mobilizations.share.title" /></strong><br />
					<f:translate key="mobilizations.share.text" /><br />
					{shareUri}
				</p>
			</div>
		</div>
	</f:else>
</f:if>
