<div class="content-box">
	<f:comment>
		<h2><f:translate key="party.members" /></h2>
	</f:comment>
	<p><f:translate key="party.numberOfMembers" arguments="{0: '{allMembers -> f:count()}'}" /></p>
	<f:if condition="{pendingMembers}">
		<p>
			<f:translate key="party.numberOfPendingMembers" arguments="{0: '{pendingMembers -> f:count()}'}" /><br />
			<button class="btn btn-primary btn-sm" type="button" id="setPendingMembersFilter"><f:translate key="party.pendingMembers.filter" /></button>
		</p>
 	</f:if>
</div>

<f:if condition="{allMembers -> f:count()} > {filteredMembers -> f:count()}">
	<button class="btn btn-primary btn-fullwidth" type="button" id="cancelMembersFilter"><f:translate key="party.filteredView" arguments="{0: '{filteredMembers -> f:count()}'}" /> | <f:translate key="party.pendingMembers.cancelFilter" /></button>
</f:if>


<f:if condition="{filteredMembers}">
	<f:then>
		<f:for each="{filteredMembers}" as="member">
			<div class="content-box" id="member-item-{member.uid}">
				<div class="box-teaser">
					<div class="row">
						<div class="col-xs-3 col-md-3">
							<f:render partial="CommunityUser/Image" arguments="{user:member, size: 300}" />
						</div>
						<div class="col-xs-9 col-md-9">
							<div class="actions">
								<f:if condition="{member.pendingPolitician}">
									<div class="action status">
										<i class="evicon-spin animate-spin hasTooltip"></i>
										<div class="hidden">{f:translate(key:'party.member.pending')}</div>
									</div>
								</f:if>
							</div>
							<h2>
								{member.firstName} {member.lastName}
							</h2>
							<p>
								<f:if condition="{member.age}">{member.age} <f:translate key="userOverview.years" /></f:if><f:if condition="{member.citySelection}"> | {member.citySelection.postalCode} {member.citySelection.name}</f:if>
								<br /><f:link.page pageUid="{member.email}">{member.email}</f:link.page> | <f:if condition="{member.telephone}">{member.telephone}</f:if>
								<f:if condition="{member.educationType}">
									<br />
									<f:translate key="party.member.education" />: {member.educationType} | {member.educationInstitution}
								</f:if>
							</p>
							<f:if condition="{member.pendingPolitician}">
								<f:then>
									<button class="btn btn-primary" type="button" data-role="ajaxObjectAction" data-confirm="true" data-prefix="ev" data-controller="PartyMember" data-action="decline" data-uid="{member.uid}">
										<f:translate key="party.pendingMember.decline" />
									</button>
									<div class="hidden" id="modal-decline-{member.uid}">
										<p><f:translate key="party.pendingMember.decline.modal.information" arguments="{0: member.firstName, 1: member.lastName}" /></p>
										<button class="pull-left btn btn-primary button-cancel"><f:translate key="party.pendingMember.decline.modal.cancel" /></button>
										<button class="pull-right btn btn-primary button-returntrue"><f:translate key="party.pendingMember.decline.modal.decline" /></button>
									</div>
									<button class="btn btn-primary" type="button" data-role="ajaxObjectAction" data-confirm="true" data-prefix="ev" data-controller="PartyMember" data-action="confirm" data-uid="{member.uid}">
										<f:translate key="party.pendingMember.confirm" />
									</button>
									<div class="hidden" id="modal-confirm-{member.uid}">
										<f:if condition="{member.verificationCode}">
											<f:then>
												<p><f:translate key="party.pendingMember.confirm.modal.informationVerificationCode" arguments="{0: member.verificationCode}" /></p>
											</f:then>
											<f:else>
												<p><f:translate key="party.pendingMember.confirm.modal.informationNoVerificationCode" /></p>
											</f:else>
										</f:if>
										<button class="pull-left btn btn-primary button-cancel"><f:translate key="party.pendingMember.confirm.modal.cancel" /></button>
										<button class="pull-right btn btn-primary button-returntrue"><f:translate key="party.pendingMember.confirm.modal.confirm" /></button>
									</div>
								</f:then>
								<f:else>
									<f:if condition="{member.partyAdministrator}">
										<f:then>
											<f:if condition="{member} == {communityUser}">
												<f:then>
													<p><f:translate key="party.member.isYou" /></p>
												</f:then>
												<f:else>
													<p><f:translate key="party.member.isAdmin" /></p>
												</f:else>
											</f:if>
										</f:then>
										<f:else>
											<button class="btn btn-primary" type="button" data-role="ajaxObjectAction" data-confirm="true" data-prefix="ev" data-controller="PartyMember" data-action="grantAdmin" data-uid="{member.uid}">
												<f:translate key="party.member.grantAdmin" />
											</button>
											<div class="hidden" id="modal-grantAdmin-{member.uid}">
												<p><f:translate key="party.member.grantAdmin.modal.information" arguments="{0: member.firstName, 1: member.lastName}" /></p>
												<button class="pull-left btn btn-primary button-cancel"><f:translate key="party.member.grantAdmin.modal.cancel" /></button>
												<button class="pull-right btn btn-primary button-returntrue"><f:translate key="party.member.grantAdmin.modal.confirm" /></button>
											</div>
											<button class="btn btn-primary" type="button" data-role="ajaxObjectAction" data-confirm="true" data-prefix="ev" data-controller="PartyMember" data-action="remove" data-uid="{member.uid}">
												<f:translate key="party.member.remove" />
											</button>
											<div class="hidden" id="modal-remove-{member.uid}">
												<p><f:translate key="party.member.remove.modal.information" arguments="{0: member.firstName, 1: member.lastName}" /></p>
												<button class="pull-left btn btn-primary button-cancel"><f:translate key="party.member.remove.modal.cancel" /></button>
												<button class="pull-right btn btn-primary button-returntrue"><f:translate key="party.member.remove.modal.confirm" /></button>
											</div>
										</f:else>
									</f:if>
								</f:else>
							</f:if>
						</div>
					</div>
				</div>
			</div>
		</f:for>
	</f:then>
	<f:else>
		<div class="content-box">
			<f:translate key="party.memberFilter.noResults" />
		</div>
	</f:else>
</f:if>