<div class="content-box supporter {f:if(condition:'{isUserElectionSupporter}', then:'supporter-selected')} {f:if(condition:'{isTopDisplayUser}', then:'supporter-topdisplay')}" id="supporter-item-{supporter.uid}">
	<div class="box-teaser">
		<div class="row">
			<div class="col-xs-3 col-md-3">
				<f:render partial="CommunityUser/ImageRespectingPrivacy" arguments="{user:supporter, size: 300}" />
			</div>
			<div class="col-xs-9 col-md-9">
				<div class="actions">
					<f:comment>
						@TODO Share Icon
					</f:comment>
				</div>
				<h2>
					<f:if condition="{supporter.privacyProtection}">
						<f:then>
							<span class="name">{f:translate(key: 'anonymous')}</span>
						</f:then>
						<f:else>
							<span class="name">{supporter.firstName} <f:format.crop maxCharacters="1" append="." respectHtml="FALSE">{supporter.lastName}</f:format.crop></span>
							<span class="additional">
								<f:if condition="{supporter.citySelection}"><f:translate key="mobilizations.directory.from" /> {supporter.citySelection.name}</f:if>
								<f:if condition="{supporter.age}"> | {supporter.age} <f:translate key="mobilizations.directory.years" /></f:if>
							</span>
						</f:else>
					</f:if>
				</h2>
				<f:for each="{supporter.events}" as="event">
					<f:comment>There can be only one event per user ATM.</f:comment>
					<div class="event">
						<f:translate key="mobilizations.directory.eventTimeAndLocation" arguments="{1: '{event.date -> f:format.date(format:\'%A, %e. %B %Y\')}', 2: '{event.fromTime -> f:format.date(format: \'%R\')}'}" />:
						<f:if condition="{event.location.locationType.uid} == 1">
							<f:comment>Briefkasten</f:comment>
							{f:translate(key: 'post_box', extensionName: 'easyvote_location')}, {event.location.street}, {event.location.zip} {event.location.city}
						</f:if>
						<f:if condition="{event.location.locationType.uid} == 10">
							<f:comment>#VoteNow2015</f:comment>
							{event.location.name}, {event.location.street}, {event.location.zip} {event.location.city}
						</f:if>
					</div>
					<f:if condition="{isTopDisplayUser}">
						<div class="comment">
							<em>{f:translate(key:'mobilizations.directory.message')}: {event.comment -> f:format.nl2br()}</em>
						</div>
					</f:if>
				</f:for>
				<div class="followers">
					<f:for each="{supporter.followers}" as="follower" iteration="followerIterator">
						<f:if condition="{followerIterator.cycle} < 11">
							<f:then>
								<f:render partial="CommunityUser/ImageRespectingPrivacy" arguments="{user:follower, size: 50}" />
							</f:then>
						</f:if>
					</f:for>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<span class="number"><f:count>{supporter.followers}</f:count></span> <f:translate key="mobilizations.directory.follower" />
					</div>
					<div class="col-sm-6">
						<f:if condition="{authenticatedUser}">
							<f:then>
								<f:if condition="{authenticatedUser.uid} == {supporter.uid}">
									<f:then>
										<f:comment>The currently authenticated user is displayed</f:comment>
										<button class="btn btn-primary btn-fullwidth" type="button" disabled>
											{f:translate(key: 'mobilizations.directory.thisIsYou')}
										</button>
									</f:then>
									<f:else>
										<f:if condition="{isUserElectionSupporter}">
											<f:then>
												<f:comment>The current Election Supporter of the user</f:comment>
												<button class="btn btn-primary btn-fullwidth electionsupporter-unfollow" data-label-original="{f:translate(key: 'mobilizations.directory.i_follow')}" data-label-alt="{f:translate(key: 'mobilizations.directory.unfollow')}"
														type="button" data-role="ajaxObjectAction" data-confirm="false" data-prefix="eves" data-controller="ElectionSupporter" data-action="unfollow" data-uid="{supporter.uid}">
													{f:translate(key: 'mobilizations.directory.i_follow')}
												</button>
											</f:then>
											<f:else>
												<f:if condition="{userElectionSupporter}">
													<f:then>
														<f:comment>User has an election supporter, but not this one. So we want to confirm the change.</f:comment>
														<button class="btn btn-primary btn-fullwidth"
																type="button" data-role="ajaxObjectAction" data-confirm="true" data-prefix="eves" data-controller="ElectionSupporter" data-action="follow" data-uid="{supporter.uid}">
															{f:translate(key: 'mobilizations.directory.follow')}
														</button>
														<div class="hidden" id="modal-follow-{supporter.uid}">
															<f:if condition="{userElectionSupporter.privacyProtection}">
																<f:then>
																	<p><f:translate key="mobilizations.follow.modal.changeInformationAnonymous" /></p>
																</f:then>
																<f:else>
																	<p><f:translate key="mobilizations.follow.modal.changeInformation" arguments="{0: userElectionSupporter.firstName, 1: '{userElectionSupporter.lastName -> f:format.crop(maxCharacters: 1, append:\'.\', respectHtml:FALSE)}'}" /></p>
																</f:else>
															</f:if>
															<button class="pull-left btn btn-primary button-cancel"><f:translate key="mobilizations.follow.modal.cancel" /></button>
															<button class="pull-right btn btn-primary button-returntrue"><f:translate key="mobilizations.follow.modal.confirm" /></button>
														</div>
													</f:then>
													<f:else>
														<f:comment>User has no election supporter yet.</f:comment>
														<button class="btn btn-primary btn-fullwidth"
																type="button" data-role="ajaxObjectAction" data-confirm="true" data-prefix="eves" data-controller="ElectionSupporter" data-action="follow" data-uid="{supporter.uid}">
															{f:translate(key: 'mobilizations.directory.follow')}
														</button>
														<div class="hidden" id="modal-follow-{supporter.uid}">
															<f:if condition="{userElectionSupporter.privacyProtection}">
																<f:then>
																	<p><f:translate key="mobilizations.follow.modal.followInformation" /></p>
																</f:then>
																<f:else>
																	<p><f:translate key="mobilizations.follow.modal.followInformationNoPrivacyProtection" arguments="{0: '{f:uri.page(pageUid:settings.communityVoteweckerPid)}'}" /></p>
																</f:else>
															</f:if>
															<button class="pull-left btn btn-primary button-cancel"><f:translate key="mobilizations.follow.modal.cancel" /></button>
															<button class="pull-right btn btn-primary button-returntrue"><f:translate key="mobilizations.follow.modal.confirm" /></button>
														</div>
													</f:else>
												</f:if>
											</f:else>
										</f:if>
									</f:else>
								</f:if>
							</f:then>
							<f:else>
								<f:comment>No user is authenticated, display the "not authenticated" modal on clicking "follow"</f:comment>
								<button class="btn btn-primary btn-fullwidth electionsupporter-follow-notAuthenticated" type="button">
									{f:translate(key: 'mobilizations.directory.follow')}
								</button>
							</f:else>
						</f:if>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>