<html>
<body>
<p><f:translate key="LLL:EXT:easyvote/Resources/Private/Language/locallang.xlf:create.optinMail.hello" /> {communityUser.firstName}</p>
<p><f:translate key="LLL:EXT:easyvote/Resources/Private/Language/locallang.xlf:create.optinMail.introduction" /></p>
<p><a href="{optinUri}"><f:translate key="LLL:EXT:easyvote/Resources/Private/Language/locallang.xlf:create.optinMail.linkText" /></a></p>
<f:translate key="LLL:EXT:easyvote/Resources/Private/Language/locallang.xlf:create.optinMail.ending" /></p>
</body>
</html>