<p><f:translate key="LLL:EXT:easyvote/Resources/Private/Language/locallang.xlf:mobilizedWelcomeMail.hello" /> {mobilizedUser.firstName}</p>
<p><f:translate key="LLL:EXT:easyvote/Resources/Private/Language/locallang.xlf:mobilizedWelcomeMail.text1" />
 <strong><f:format.date format="d.m.Y">{nextVotingDay.votingDate}</f:format.date></strong>
<f:translate key="LLL:EXT:easyvote/Resources/Private/Language/locallang.xlf:mobilizedWelcomeMail.text2" />
</p>
<p><f:translate key="LLL:EXT:easyvote/Resources/Private/Language/locallang.xlf:mobilizedWelcomeMail.bestRegards" /><br>
{parentUser.firstName} {parentUser.lastName}</p>
