<html>
<body>
<p><f:translate key="LLL:EXT:easyvote/Resources/Private/Language/locallang.xlf:mobilizedUnsubscribedNotification.hello" /> {parentUser.firstName}</p>
<p><f:translate key="LLL:EXT:easyvote/Resources/Private/Language/locallang.xlf:mobilizedUnsubscribedNotification.text1" />
	{mobilizedUser.firstName} {mobilizedUser.lastName}
	<f:translate key="LLL:EXT:easyvote/Resources/Private/Language/locallang.xlf:mobilizedUnsubscribedNotification.text2" />
	<f:format.date format="d.m.Y">{nextVotingDay.votingDate}</f:format.date>
	<f:translate key="LLL:EXT:easyvote/Resources/Private/Language/locallang.xlf:mobilizedUnsubscribedNotification.text3" />
	{mobilizedUser.firstName}
	<f:translate key="LLL:EXT:easyvote/Resources/Private/Language/locallang.xlf:mobilizedUnsubscribedNotification.text4" />
</p>
<f:translate key="LLL:EXT:easyvote/Resources/Private/Language/locallang.xlf:mobilizedUnsubscribedNotification.text5" />
</body>
</html>