<html>
<body>
<p>Hallo {communityUser.firstName}</p>

<p>Dein/e Parteiadministrator/in hat soeben deine Parteizugehörigkeit gelöscht.</p>

<p>Falls du mit der Ablehnung nicht einverstanden bist, empfehlen wir dir folgendermassen vorzugehen:</p>
<ol>
	<li>Nimm mit deinem/deiner Parteiadministrator/in Kontakt und kläre ab, warum deine Parteizugehörigkeit gelöscht
		wurde.
	</li>
	<li>Nachdem du die Sache geklärt hast, kannst du deine Parteizugehörigkeit auf der Polittalk-Plattform erneut
		beantragen.
	</li>
</ol>
<p>Hast du noch Fragen? Zögere nicht, uns über <a href="mailto:info@easyvote.ch">info@easyvote.ch</a> zu kontaktieren.
	Wir sind zudem auch telefonisch unter 031 384 08 09 erreichbar.</p>

<p>Beste Grüsse</p>

<p>Dein easyvote Team</p>
<hr/>
<p>*** Antworte nicht auf diese E-Mail. Diese E-Mail wurde automatisch generiert. ***</p>
</body>
</html>