{namespace bu = TYPO3\CMS\Beuser\ViewHelpers}

<f:layout name="Default" />

<f:section name="iconButtons">
</f:section>

<f:section name="content">

	<h3>SMS-Versand</h3>

	<div class="collapsibleSection clearfix">
		<f:form action="backendSmsMessageSend">
			<f:render partial="CommunityUser/Filters/UserLanguage" arguments="{demand: demand, languages:languages}" />
			<f:render partial="CommunityUser/Filters/Kanton" arguments="{demand: demand, kantons:kantons}" />
			<div class="form-row clearfix">
				<div class="label">
					Testversand
				</div>
				<div class="fields">
					<f:form.checkbox name="demand[sendToTestUser]" value="1" id="sendToTestUser" /> <label for="sendToTestUser">Sende nur einen Test an {testUser.firstName} {testUser.lastName} (Nummer: {testUser.telephone})</label>
				</div>
			</div>
			<div class="form-row clearfix">
				<div class="label">
					Zustellungszeit
				</div>
				<div class="fields">
					<input type="datetime-local" value="{dateTime}" name="tx_easyvote_user_easyvoteeasyvote[demand][distributionTime]">
				</div>
			</div>
			<div class="form-row clearfix">
				<div class="label">
					Nachricht
				</div>
				<div class="fields">
					<f:form.textarea name="demand[message]" additionalAttributes="{maxlength:'160'}" /><br />
					<p>Es können folgende Variablen verwendet werden: &#123;user.firstName&#125;, &#123;user.lastName&#125;</p>
					<p>Achtung: Die Sonderzeichen "[]{}€~" zählen doppelt.</p>
				</div>
			</div>
			<div class="form-row clearfix">
				<div class="label">
					&nbsp;
				</div>
				<div class="fields">
					<f:form.submit value="SMS senden" /><br />
					<p>Hinweis: Die SMS werden nicht sofort abgesendet, sondern in eine Warteschlange gestellt und Stück für Stück gearbeitet.</p>
				</div>
			</div>
		</f:form>
	</div>

</f:section>