{namespace v=Tx_Vhs_ViewHelpers}
{namespace ev=Tx_Easyvote_ViewHelpers}
<div class="meta-abstimmungsvorlage {f:if(condition: '{metaVotingProposal.type} == 1', then: 'meta-abstimmungsvorlage-normal', else: 'meta-abstimmungsvorlage-gegenvorschlag')}"
     id="meta-abstimmungsvorlage-{metaVotingProposal.uid}">
	<f:for each="{metaVotingProposal.votingProposals}" as="votingProposal" iteration="iterator">
		<div class="content-box abstimmungsvorlage abstimmungsvorlage-meta-{metaVotingProposal.uid}"
		     id="abstimmungsvorlage-{votingProposal.uid}">
			<div class="box-teaser">
				<div class="row">
					<f:comment><!-- no more flags -->
					<div class="col-xs-2 col-md-2">
						<f:if condition="{metaVotingProposal.scope} == 1">
							<f:then>
								<div class="flag-voting flag-ch"></div>
							</f:then>
							<f:else>
								<div class="flag-voting flag-{v:format.case(string: metaVotingProposal.kanton.abbreviation, case: 'lower')}"></div>
							</f:else>
						</f:if>
					</div>
					</f:comment>

					<f:link.action controller="MetaVotingProposal" action="show" arguments="{metaVotingProposal:metaVotingProposal}">
					<div class="col-xs-12 col-md-12">
						<h2>{votingProposal.shortTitle}</h2>
						<h3>
							<f:format.date format="d.m.Y">{metaVotingProposal.votingDay.votingDate}</f:format.date>
							&nbsp;–&nbsp;
							{votingProposal.officialTitle}
						</h3>
						<f:if condition="{metaVotingProposal.type} == 2">
							<f:if condition="{iterator.isFirst}">
								<f:then>
									<p class="multipleVotingsNavi"><i class="evicon-right-hand pull-left"></i>
										<f:translate key="tx_easyvote_archive.gegenvorschlagNotice"/>
									</p>
								</f:then>
								<f:else>
									<p class="multipleVotingsNavi"><i class="evicon-right-hand pull-left"></i>
										<f:translate key="tx_easyvote_archive.gegenvorschlagBack"/>
									</p>
								</f:else>
							</f:if>
						</f:if>
					</div>
					</f:link.action>
				</div>
			</div>
		</div>
	</f:for>
</div>