{namespace v=Tx_Vhs_ViewHelpers}
{namespace ev=Tx_Easyvote_ViewHelpers}
<div class="meta-abstimmungsvorlage {f:if(condition: '{metaVotingProposal.type} == 1', then: 'meta-abstimmungsvorlage-normal', else: 'meta-abstimmungsvorlage-gegenvorschlag')} {f:if(condition: '{metaIterator.isFirst}', then: 'meta-abstimmungsvorlage-open', else: '')}"  id="meta-abstimmungsvorlage-{metaVotingProposal.uid}">
	<f:for each="{metaVotingProposal.votingProposals}" as="votingProposal" iteration="iterator">
		<div class="abstimmungsvorlage abstimmungsvorlage-meta-{metaVotingProposal.uid}" id="abstimmungsvorlage-{votingProposal.uid}">
			<div class="abstimmungsvorlage-header">
				<div class="abstimmungsvorlage-subheader-left">
					<f:if condition="{metaVotingProposal.scope} == 1">
						<f:then>
							<div class="flag-middle flag-ch"></div>
						</f:then>
						<f:else>
							<div class="flag-middle flag-{v:format.case(string: metaVotingProposal.kanton.abbreviation, case: 'lower')}"></div>
						</f:else>
					</f:if>
				</div>
				<div class="abstimmungsvorlage-subheader-right">
					<h2>{votingProposal.shortTitle}</h2>
					<p></ö><span class="abstimmungsvorlage-datum">
						<f:format.date format="d.m.Y">{votingDay.votingDate}</f:format.date>
					</span>
					&nbsp;•&nbsp;
					{votingProposal.officialTitle}</p>
					<f:if condition="{metaVotingProposal.type} == 2">
						<f:if condition="{iterator.isFirst}">
							<f:then>
								<p><i class="icon-hand-up pull-left"></i>Zu dieser Abstimmungsvorlage gibt es einen <a href="#" id="goToGegenvorschlag">Gegenvorschlag</a>.</p>
							</f:then>
							<f:else>
								<p><i class="icon-hand-up pull-left"></i>Dies ist der Gegenvorschlag. <a href="#" id="goToHauptvorlage">Zurück zur Vorlage</a>.</p>
							</f:else>
						</f:if>
					</f:if>
				</div>
			</div>
			<div class="clearer"></div>
			</p>
			<div class="abstimmungsvorlage-content">
				<f:if condition="{votingProposal.youtubeUrl}">
					<f:then>
						<ev:youtube videoUrl="{votingProposal.youtubeUrl}"></ev:youtube>
						<h3 class="toggle-trigger"><f:translate key="tx_easyvote_domain_model_votingproposal.goal" /><div class="toggle-handle toggle-handle-plus"></div></h3>
						<div class="toggle-closed"><f:format.html parseFuncTSPath="lib.parseFunc">{votingProposal.goal}</f:format.html></div>
					</f:then>
					<f:else>
						<h3 class="noLine"><f:translate key="tx_easyvote_domain_model_votingproposal.goal" /></h3>
						<div><f:format.html parseFuncTSPath="lib.parseFunc">{votingProposal.goal}</f:format.html></div>
					</f:else>
				</f:if>
				<h3 class="toggle-trigger"><f:translate key="tx_easyvote_domain_model_votingproposal.initial_status" /><div class="toggle-handle toggle-handle-plus"></div></h3>
				<div class="toggle-closed"><f:format.html parseFuncTSPath="lib.parseFunc">{votingProposal.initialStatus}</f:format.html></div>
				<h3 class="toggle-trigger"><f:translate key="tx_easyvote_domain_model_votingproposal.consequence" /><div class="toggle-handle toggle-handle-plus"></div></h3>
				<div class="toggle-closed"><f:format.html parseFuncTSPath="lib.parseFunc">{votingProposal.consequence}</f:format.html></div>
				<h3 class="toggle-trigger"><f:translate key="tx_easyvote_domain_model_votingproposal.pro_arguments" /><div class="toggle-handle toggle-handle-plus"></div></h3>
				<div class="toggle-closed"><f:format.html parseFuncTSPath="lib.parseFunc">{votingProposal.proArguments}</f:format.html></div>
				<h3 class="toggle-trigger"><f:translate key="tx_easyvote_domain_model_votingproposal.contra_arguments" /><div class="toggle-handle toggle-handle-plus"></div></h3>
				<div class="toggle-closed"><f:format.html parseFuncTSPath="lib.parseFunc">{votingProposal.contraArguments}</f:format.html></div>
				<h3 class="toggle-trigger"><f:translate key="tx_easyvote_domain_model_votingproposal.government_opinion" /><div class="toggle-handle toggle-handle-plus"></div></h3>
				<div class="toggle-closed"><f:format.html parseFuncTSPath="lib.parseFunc">{votingProposal.governmentOpinion}</f:format.html></div>
				<h3 class="toggle-trigger"><f:translate key="tx_easyvote_domain_model_votingproposal.links" /><div class="toggle-handle toggle-handle-plus"></div></h3>
				<div class="toggle-closed"><f:format.html parseFuncTSPath="lib.parseFunc">{votingProposal.links}</f:format.html></div>
			</div>
		</div>
	</f:for>
</div>