{namespace v=Tx_Vhs_ViewHelpers}
{namespace ev=Tx_Easyvote_ViewHelpers}
<div class="meta-abstimmungsvorlage {f:if(condition: '{metaVotingProposal.type} == 1', then: 'meta-abstimmungsvorlage-normal', else: 'meta-abstimmungsvorlage-gegenvorschlag')}"
     id="meta-abstimmungsvorlage-{metaVotingProposal.uid}">
	<f:for each="{metaVotingProposal.votingProposals}" as="votingProposal" iteration="iterator">
		<div class="content-box xcontent-box-expandable abstimmungsvorlage abstimmungsvorlage-meta-{metaVotingProposal.uid}"
		     id="abstimmungsvorlage-{votingProposal.uid}">
			<div class="box-teaser">
				<div class="row">
					<f:comment><!-- no flags, add 2 more cols to content below -->
					<div class="col-xs-2 col-md-2">
						<f:if condition="{metaVotingProposal.scope} == 1">
							<f:then>
								<div class="flag-voting flag-ch"></div>
							</f:then>
							<f:else>
								<div class="flag-voting flag-{v:format.case(string: metaVotingProposal.kanton.abbreviation, case: 'lower')}"></div>
							</f:else>
						</f:if>
					</div>
					</f:comment>
					<div class="col-xs-12 col-md-12">
						<div class="actions">
							<div class="action share">
								<f:if condition="{settings.context} != 'app'">
                                    <f:then>
                                        <div class="hidden">
                                            <a href="{votingProposal.permalink}" id="votingProposalLink">
                                                <f:translate key="tx_easyvote_domain_model_votingproposal" /> {votingProposal.shortTitle}
                                            </a>
                                        </div>
									</f:then>
									<f:else>
                                        <f:comment>01.03.2017/am: sharing inside app context not clear yet</f:comment>
										<a href="share://title={votingProposal.shortTitle -> f:format.urlencode()}&text={votingProposal.officialTitle -> f:format.urlencode()}&url={votingProposal.permalink -> f:format.urlencode()}">
											<i class="evicon-share"></i>
										</a>
									</f:else>
								</f:if>
							</div>
						</div>
						<h2>{votingProposal.shortTitle}</h2>

						<h3>
							<f:format.date format="d.m.Y">{metaVotingProposal.votingDay.votingDate}</f:format.date>
							&nbsp;–&nbsp;
							{votingProposal.officialTitle}
						</h3>
						<f:if condition="{metaVotingProposal.type} == 2">
							<f:if condition="{iterator.isFirst}">
								<f:then>
									<p class="multipleVotingsNavi"><i class="evicon-right-hand pull-left"></i>
										<f:translate key="tx_easyvote_archive.gegenvorschlagNotice"/>
									</p>
								</f:then>
								<f:else>
									<p class="multipleVotingsNavi"><i class="evicon-right-hand pull-left"></i>
										<f:translate key="tx_easyvote_archive.gegenvorschlagBack"/>
									</p>
								</f:else>
							</f:if>
						</f:if>
					</div>
				</div>
			</div>
			<div class="box-content">
				<f:if condition="{votingProposal.youtubeUrl}">
					<ev:youtube videoUrl="{votingProposal.youtubeUrl}" width="{settings.votingProposal.youtubeWidth}" height="{settings.votingProposal.youtubeHeight}" />
				</f:if>
				<f:if condition="{settings.context} != 'facebook'">
					<f:then>
						<f:if condition="{request}">
							<f:then>
								<f:comment>
									Don't display voting in archive search results
								</f:comment>
							</f:then>
							<f:else>
								<f:render partial="MetaVotingProposal/Voting" arguments="{settings:settings, votingPropsalUid:votingProposal.uid}" />
							</f:else>
						</f:if>
					</f:then>
					<f:else>
						<f:comment>
							Don't display voting in Facebook TabApp.
						</f:comment>
					</f:else>
				</f:if>
				<h3 class="toggle-trigger noLine"><f:translate key="tx_easyvote_domain_model_votingproposal.goal" /><div class="toggle-handle toggle-handle-plus"></div></h3>
				<div class="toggle-closed toggle-content"><f:format.html parseFuncTSPath="lib.parseFunc_tagged">{votingProposal.goal}</f:format.html></div>
				<h3 class="toggle-trigger"><f:translate key="tx_easyvote_domain_model_votingproposal.initial_status" /><div class="toggle-handle toggle-handle-plus"></div></h3>
				<div class="toggle-closed toggle-content"><f:format.html parseFuncTSPath="lib.parseFunc_tagged">{votingProposal.initialStatus}</f:format.html></div>
				<h3 class="toggle-trigger"><f:translate key="tx_easyvote_domain_model_votingproposal.consequence" /><div class="toggle-handle toggle-handle-plus"></div></h3>
				<div class="toggle-closed toggle-content"><f:format.html parseFuncTSPath="lib.parseFunc_tagged">{votingProposal.consequence}</f:format.html></div>
				<h3 class="toggle-trigger"><f:translate key="tx_easyvote_domain_model_votingproposal.pro_arguments" /><div class="toggle-handle toggle-handle-plus"></div></h3>
				<div class="toggle-closed toggle-content"><f:format.html parseFuncTSPath="lib.parseFunc_tagged">{votingProposal.proArguments}</f:format.html></div>
				<h3 class="toggle-trigger"><f:translate key="tx_easyvote_domain_model_votingproposal.contra_arguments" /><div class="toggle-handle toggle-handle-plus"></div></h3>
				<div class="toggle-closed toggle-content"><f:format.html parseFuncTSPath="lib.parseFunc_tagged">{votingProposal.contraArguments}</f:format.html></div>
				<f:if condition="{votingProposal.additionalInformationHeader}">
					<h3 class="toggle-trigger">{votingProposal.additionalInformationHeader}<div class="toggle-handle toggle-handle-plus"></div></h3>
					<div class="toggle-closed toggle-content"><f:format.html parseFuncTSPath="lib.parseFunc_tagged">{votingProposal.additionalInformationContent}</f:format.html></div>
				</f:if>
				<h3 class="toggle-trigger"><f:translate key="tx_easyvote_domain_model_votingproposal.government_opinion" /><div class="toggle-handle toggle-handle-plus"></div></h3>
				<div class="toggle-closed toggle-content"><f:format.html parseFuncTSPath="lib.parseFunc_tagged">{votingProposal.governmentOpinion}</f:format.html></div>
				<h3 class="toggle-trigger"><f:translate key="tx_easyvote_domain_model_votingproposal.links" /><div class="toggle-handle toggle-handle-plus"></div></h3>
				<div class="toggle-closed toggle-content"><f:format.html parseFuncTSPath="lib.parseFunc_tagged">{votingProposal.links}</f:format.html></div>


				<style>
					.box-graph {
						width: 200px;
						text-align: center;
						float: left;
					}
				</style>
				<f:comment><!-- type = 1 => normal --></f:comment>
				<f:comment><!-- type = 2 => with counter proposition --></f:comment>
				<f:if condition="{metaVotingProposal.type} == '2'">

					<f:then>

						<f:for each="{metaVotingProposal.votingProposals}" as="proposal">
							<f:if condition="{proposal.proposalApproval}">
								<div class="box-graph">
									{proposal.shortTitle}
									<div class="graph-referendum" data-value="{proposal.proposalApproval}"></div>
								</div>
							</f:if>
						</f:for>

						<f:if condition="{metaVotingProposal.mainProposalApproval} != 0">

							<div style="clear: both; font-weight: bold">
								<f:if condition="{metaVotingProposal.mainProposalApproval} > 50">
									<f:then>
										<f:translate key="graph.mainPropositionAccepted"/>
									</f:then>
									<f:else>
										<f:translate key="graph.counterPropositionAccepted"/>
									</f:else>
								</f:if>
							</div>

							<div class="box-graph">
								<div class="graph-tiebreak" data-value="{metaVotingProposal.mainProposalApproval}"></div>
							</div>

						</f:if>

					</f:then>

					<f:else>
						<f:if condition="{votingProposal.proposalApproval}">
							<div class="box-graph">
								<f:translate key="graph.population"/>
								<div class="graph-referendum" data-value="{votingProposal.proposalApproval}"></div>
							</div>
						</f:if>

						<f:if condition="{votingProposal.kantonMajority}">
							<div class="box-graph">
								<f:translate key="graph.canton"/>
								<div class="graph-canton" data-value="{votingProposal.kantonMajority}"></div>
							</div>
						</f:if>
					</f:else>
				</f:if>

			</div>

		</div>

		<script>
			window.EasyvoteGraph = window.EasyvoteGraph || {};

			EasyvoteGraph.Label = {};
			EasyvoteGraph.Label.yes = '{f:translate(key: "graph.yes")}';
			EasyvoteGraph.Label.no = '{f:translate(key: "graph.no")}';
			EasyvoteGraph.Label.proposalAbbreviated = '{f:translate(key: "graph.proposalAbbreviated")}';
			EasyvoteGraph.Label.counterProposalAbbreviated = '{f:translate(key: "graph.counterProposalAbbreviated")}';

		</script>
	</f:for>
</div>