<div class="voting">
	<div class="row">
		<div class="col-xs-4 col-md-6 sameheight">
			<f:translate key="voting.yourOpinion" />
		</div>
		<div class="col-xs-4 col-md-3 sameheight">
			<div class="vote">
				<div class="vote-handle vote-handle-up">
					<i class="hasTooltip evicon-like vote-color-up" id="voteUp-{votingPropsalUid}"></i>
					<div class="hidden">
                        <f:translate key="votingAnswer.iSayYes" />
                    </div>
				</div>
				<div class="vote-result vote-result-up vote-color-up">
				</div>
			</div>
		</div>
		<div class="col-xs-4 col-md-3 sameheight">
			<div class="vote">
				<div class="vote-handle vote-handle-down">
					<i class="hasTooltip evicon-dislike vote-color-down" id="voteDown-{votingPropsalUid}"></i>
					<div class="hidden">
                        <f:translate key="votingAnswer.iSayNo" />
					</div>
				</div>
				<div class="vote-result vote-result-down vote-color-down">
				</div>
			</div>
		</div>
	</div>
</div>
