<h2><f:translate key="loginPanel.modalHeaderLogin" /></h2>
<div class="row">
	<div class="col-md-6">
		<p>
			<f:if condition="{settings.context} != 'app'">
				<f:then>
					<f:link.action noCacheHash="TRUE" extensionName="vifbauth" pluginName="Auth" controller="Authentication" action="login">
						<f:image src="EXT:easyvote/Resources/Public/Images/button-facebook-login.png" alt="Log in with Facebook" />
					</f:link.action>
				</f:then>
				<f:else>
					<a href="facebooklogin://{f:uri.page(addQueryString:'TRUE', noCacheHash: 'TRUE', absolute: 'TRUE', additionalParams:'{logintype:\'login\'}')}">
						<f:image src="EXT:easyvote/Resources/Public/Images/button-facebook-login.png" alt="Log in with Facebook" />
					</a>
				</f:else>
			</f:if>
		</p>
	</div>
	<div class="col-md-6">
		<p class="introduction">
			<f:translate key="loginPanel.modalNativeLoginHeader" />
		</p>
		<f:cObject typoscriptObjectPath="lib.feLogin" />
		<p>
			<a href="#" class="loginModalRegistrationLink">
				<f:translate key="loginPanel.registrationLink" />
			</a>
		</p>
	</div>
</div>
