<h2><f:translate key="loginPanel.modalHeaderLogin" /></h2>
<div class="clearfix">
	<div class="pull-left" style="width: 50%;">
		<p>
			<f:link.action extensionName="vifbauth" pluginName="Auth" controller="Authentication" action="login">
				<f:image src="EXT:easyvote/Resources/Public/Images/button-facebook-login.png" alt="Log in with Facebook" />
			</f:link.action>
		</p>
	</div>
	<div class="pull-right" style="width: 50%;">
		<p class="introduction">
			<f:translate key="loginPanel.modalNativeLoginHeader" />
		</p>
		<f:cObject typoscriptObjectPath="lib.feLogin" />
	</div>
</div>