<div class="row">
	<div class="col-md-6">
		<p>
			<f:if condition="{settings.context} != 'app'">
				<f:then>
                    <button class="btn btn-primary button-facebook-registration" data-targeturi="{f:uri.action(noCacheHash: 'true', extensionName: 'vifbauth', pluginName: 'Auth', controller: 'Authentication', action: 'login')}" type="button">
                        <i class="evicon-facebook-login"></i>
                        {f:translate(key: 'loginPanel.registerWithFacebook')}
                    </button>
				</f:then>
				<f:else>
                    <button class="btn btn-primary button-facebook-registration" data-targeturi="facebooklogin://{f:uri.page(addQueryString:'TRUE', noCacheHash: 'TRUE', absolute: 'TRUE', additionalParams:'{logintype:\'login\'}')}" type="button">
                        <i class="evicon-facebook-login"></i>
                        {f:translate(key: 'loginPanel.registerWithFacebook')}
                    </button>
				</f:else>
			</f:if>
		</p>
	</div>
	<div class="col-md-6">
		<p class="introduction">
			<f:translate key="loginPanel.modalNativeLoginHeader" />
		</p>
		<f:cObject typoscriptObjectPath="lib.feLogin" />
		<p>
			<f:link.page pageUid="{settings.forgotPasswordPid}" noCacheHash="true" additionalParams="{tx_felogin_pi1: {forgot: 1}}">
				<f:translate key="loginPanel.forgotPasswordLink" />
			</f:link.page>
		</p>
		<h4><f:translate key="loginPanel.registrationTitle" /></h4>
		<a href="#" class="loginModalRegistrationLink btn btn-primary">
			<f:translate key="loginPanel.registrationLink" />
		</a>
	</div>
</div>
