<h2><f:translate key="loginPanel.modalHeader" /></h2>
<div class="no-profile row">
	<div class="col-md-6">
		<table class="advantages hidden-xs hidden-sm">
			<tr>
				<td>
					<i class="evicon-broschuere evicon-40"></i>
				</td>
				<td>
					<f:translate key="loginPanel.modalAdvantage.1" />
				</td>
			</tr>
			<tr>
				<td>
					<i class="evicon-wecker evicon-40"></i>
				</td>
				<td>
					<f:translate key="loginPanel.modalAdvantage.2" />
				</td>
			</tr>
			<tr>
				<td>
					<i class="evicon-sprechblase evicon-40"></i>
				</td>
				<td>
					<f:translate key="loginPanel.modalAdvantage.3" />
				</td>
			</tr>
		</table>
	</div>
	<div class="col-md-6">
		<p class="legal-info">
            <label for="acceptLegalInfo">
                <input type="checkbox" id="acceptLegalInfo" class="acceptLegalInfo" />
                <f:translate key="loginPanel.modalLegalInfo" htmlEscape="false" arguments="{1: '{f:uri.page(pageUid:settings.privacyStatementPid, absolute:\'TRUE\')}'}" />
            </label>
		</p>
		<f:render partial="CommunityUser/Registration" arguments="{_all}" />
		<f:link.page pageUid="{settings.forgotPasswordPid}" noCacheHash="true" additionalParams="{tx_felogin_pi1: {forgot: 1}}"><f:translate key="loginPanel.forgotPasswordLink" /></f:link.page>
	</div>
</div>
