<f:if condition="{userElectionSupporter}">
	<f:render partial="CommunityUser/Mobilizations/ElectionSupporter" arguments="{supporter:userElectionSupporter, isUserElectionSupporter: 1}" />
</f:if>

<f:if condition="{isFiltered}">
	<button class="btn btn-primary btn-fullwidth" type="button" id="cancelElectionSupportersFilter"><f:translate key="mobilizations.directory.filteredView" arguments="{0: '{filteredElectionSupporters -> f:count()}'}" /> | <f:translate key="mobilizations.directory.cancelFilter" /></button>
</f:if>

<f:if condition="{filteredElectionSupporters}">
	<f:then>
		<f:widget.paginate objects="{filteredElectionSupporters}" as="paginatedFilteredElectionSupporters" configuration="{itemsPerPage: 10, insertAbove: 0, insertBelow: 1}">
			<f:for each="{paginatedFilteredElectionSupporters}" as="supporter">
				<f:render partial="CommunityUser/Mobilizations/ElectionSupporter" arguments="{supporter:supporter, userElectionSupporter:userElectionSupporter, isUserElectionSupporter: 0}" />
			</f:for>
		</f:widget.paginate>
	</f:then>
	<f:else>
		<div class="content-box">
			<f:translate key="mobilizations.directory.filter.noResults" />
		</div>
	</f:else>
</f:if>