<f:if condition="{isFiltered}">
	<button class="btn btn-primary btn-fullwidth" type="button" id="cancelElectionSupportersFilter"><f:translate key="mobilizations.directory.filteredView" arguments="{0: '{filteredElectionSupporters -> f:count()}'}" /> | <f:translate key="mobilizations.directory.cancelFilter" /></button>
</f:if>

<f:if condition="{userElectionSupporter}">
	<f:render partial="CommunityUser/Mobilizations/ElectionSupporter" arguments="{supporter:userElectionSupporter, isUserElectionSupporter: 1}" />
</f:if>

<f:if condition="{filteredElectionSupporters}">
	<f:then>
		<f:for each="{filteredElectionSupporters}" as="supporter">
			<f:render partial="CommunityUser/Mobilizations/ElectionSupporter" arguments="{supporter:supporter, isUserElectionSupporter: 0}" />
		</f:for>
	</f:then>
	<f:else>
		<div class="content-box">
			<f:translate key="mobilizations.directory.filter.noResults" />
		</div>
	</f:else>
</f:if>