<div class="progress progress-wall">
	<div class="progress-bar" role="progressbar" aria-valuenow="{reachedPercentage}" aria-valuemin="0" aria-valuemax="1000" style="width:{reachedPercentage}%"></div>
	<div class="supporter-count">
		{electionSupportersCount} {f:translate(key:'wall.of')} 1000 {f:translate(key:'wall.voteHeroes')}
	</div>
</div>
<div class="electionsupporters-wall">
	<div class="box">
		<div class="youtube-embed">
			<iframe width="1280" height="720" src="https://www.youtube-nocookie.com/embed/{f:translate(key:'wall.videoId')}" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="box-text">
			<h2>{f:translate(key:'wall.box.header')}</h2>
			<p>{f:translate(key:'wall.box.text')}</p>
			<f:if condition="{frontendLanguage} == 0">
				<f:then>
					<f:link.page pageUid="469" class="link-box">{f:translate(key:'wall.box.linkText')}</f:link.page>
				</f:then>
				<f:else>
					<f:link.page pageUid="{settings.communityMobilizePid}" class="link-box">{f:translate(key:'wall.box.linkText')}</f:link.page>
				</f:else>
			</f:if>
		</div>

	</div>
	<f:for each="{electionSupporters}" as="electionSupporter" iteration="iterator">
		<div class="election-supporter uid-{electionSupporter.uidBase64}">
			<f:link.page pageUid="{settings.electionSupporterPid}" noCacheHash="true" additionalParams="{tx_easyvote_electionsupporterfunctions: {follow: '{electionSupporter.uidBase64}'}}">
				<f:render partial="ElectionSupporter/Image" arguments="{user:electionSupporter, size: 70, settings:settings}" />
			</f:link.page>
		</div>
	</f:for>
	<f:for each="{missingElectionSupporters}" as="missingElectionSupporter" iteration="iterator">
		<div class="election-supporter">
			<f:if condition="{iterator.index} % 2">
				<f:then>
					<f:image src="/typo3conf/ext/easyvote/Resources/Public/Images/profilepicture-placeholder-m.svg" width="70" height="70c"/>
				</f:then>
				<f:else>
					<f:image src="/typo3conf/ext/easyvote/Resources/Public/Images/profilepicture-placeholder-f.svg" width="70" height="70c"/>
				</f:else>
			</f:if>
		</div>
	</f:for>
</div>