<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">{requestedKanton.name}
	<ul class="navi">
		<li class="{f:if(condition: '{requestedKanton}', then: 'item', else: 'active')}">
			<f:link.action controller="VotingDay" action="showCurrentVotingDay">CH</f:link.action>
		</li>
		<f:for each="{kantons}" as="kanton">
		<li class="{f:if(condition: '{requestedKanton} == {kanton.uid}', then: 'active', else: 'item')}">
			<f:link.action controller="VotingDay" action="showCurrentVotingDay" arguments="{kanton : kanton}">{kanton.abbreviation}</f:link.action>
		</li>
		</f:for>
	</ul>
</f:section>