<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Kanton</h1>

<f:flashMessages />

<table  class="tx_easyvote" >
	<tr>
		<th><f:translate key="tx_easyvote_domain_model_kanton.name" /></th>
		<th><f:translate key="tx_easyvote_domain_model_kanton.abbreviation" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{kantons}" as="kanton">
		<tr>
			<td><f:link.action action="show" arguments="{kanton : kanton}"> {kanton.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{kanton : kanton}"> {kanton.abbreviation}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{kanton : kanton}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{kanton : kanton}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Kanton</f:link.action>
</f:section>