<table class="tx-easyvote" >
	<tr>
		<td>
			<f:translate key="tx_easyvote_domain_model_votingproposal.short_title" />
		</td>
		<td>
			{votingProposal.shortTitle}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_easyvote_domain_model_votingproposal.official_title" />
		</td>
		<td>
			{votingProposal.officialTitle}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_easyvote_domain_model_votingproposal.youtube_url" />
		</td>
		<td>
			{votingProposal.youtubeUrl}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_easyvote_domain_model_votingproposal.goal" />
		</td>
		<td>
			{votingProposal.goal}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_easyvote_domain_model_votingproposal.initial_status" />
		</td>
		<td>
			{votingProposal.initialStatus}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_easyvote_domain_model_votingproposal.consequence" />
		</td>
		<td>
			{votingProposal.consequence}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_easyvote_domain_model_votingproposal.pro_arguments" />
		</td>
		<td>
			{votingProposal.proArguments}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_easyvote_domain_model_votingproposal.contra_arguments" />
		</td>
		<td>
			{votingProposal.contraArguments}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_easyvote_domain_model_votingproposal.government_opinion" />
		</td>
		<td>
			{votingProposal.governmentOpinion}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_easyvote_domain_model_votingproposal.links" />
		</td>
		<td>
			{votingProposal.links}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_easyvote_domain_model_votingproposal.proposal_approval" />
		</td>
		<td>
			{votingProposal.proposalApproval}
		</td>
	</tr>
</table>