<h2><f:translate key="tx_easyvote_domain_model_votingproposal.share" /></h2>
<div class="share-links">
	<a class="share-popup" href="https://www.facebook.com/sharer/sharer.php?u={votingProposal.permalink}">
		<i class="social-icon facebook"><span class="sr-only">Facebook</span></i>
	</a>
	<a class="share-popup" href="https://twitter.com/home?status={votingProposal.shortTitle} - {votingProposal.permalink} @easyvote_ch">
		<i class="social-icon twitter"><span class="sr-only">Twitter</span></i>
	</a>
</div>
<div class="share-uri">
	<input type="text" onclick="select()" id="votingProposalLink" value="{votingProposal.permalink}" />
</div>