<h2>Danke für deine Stimme!</h2>
<p>Teile deine Meinung und überzeuge deine Freunde.</p>
<f:if condition="{value} == {voteUpValue}">
	<f:then>
		<div class="fb-share-button" data-href="{f:uri.page(absolute: 'TRUE', pageUid:settings.votingPid, additionalParams:{L:'0', tx_easyvote_currentvotings:{selectSingle:metaVotingProposal.uid}})}" data-type="button"></div>
		<a href="https://twitter.com/share" class="twitter-share-button" data-text="Ich sage JA - '{votingProposal.shortTitle}'. Informiere dich jetzt unter " data-url="http://www.easyvote.ch/{f:uri.page(pageUid:settings.votingPid, absolute: TRUE, additionalParams:{tx_easyvote_currentvotings:{selectSingle:metaVotingProposal.uid}})}" data-via="easyvote_ch" data-count="none">Tweet</a>
	</f:then>
	<f:else>
		<div class="fb-share-button" data-href="{f:uri.page(absolute: 'TRUE', pageUid:settings.votingPid, additionalParams:{L:'0', tx_easyvote_currentvotings:{selectSingle:metaVotingProposal.uid}})}" data-type="button"></div>
		<a href="https://twitter.com/share" class="twitter-share-button" data-text="Ich sage NEIN - '{votingProposal.shortTitle}'. Informiere dich jetzt unter " data-url="http://www.easyvote.ch/{f:uri.page(pageUid:settings.votingPid, absolute: TRUE, additionalParams:{tx_easyvote_currentvotings:{selectSingle:metaVotingProposal.uid}})}" data-via="easyvote_ch" data-count="none">Tweet</a>
	</f:else>
</f:if>