{namespace v=Tx_Vhs_ViewHelpers}

<h2><f:translate key="LLL:EXT:easyvote/Resources/Private/Language/locallang.xlf:votingAnswer.header" /></h2>
<h3><f:translate key="LLL:EXT:easyvote/Resources/Private/Language/locallang.xlf:votingAnswer.shareYourOpinion" /></h3>
<f:if condition="{value} == {voteUpValue}">
	<f:then>
		<f:if condition="{settings.context} != 'app'">
			<f:then>
				<div class="share-preview-container">
					<div class="left">
						<div class="share-links">
							<a class="share-popup" href="https://www.facebook.com/sharer/sharer.php?u={votingProposal.permalink}">
								<i class="social-icon facebook"><span class="sr-only">Facebook</span></i>
							</a>
						</div>
					</div>
					<div class="right">
						<div class="right-inner-left">
							<f:if condition="{votingProposal.image}">
								<f:then>
									<img src="{v:uri.image(relative: false, src: 'uploads/tx_easyvote/{votingProposal.image}')}" />
								</f:then>
								<f:else>
									<img src="/typo3conf/ext/easyvote/Resources/Public/Images/easyvote-logo-fb.png" />
								</f:else>
							</f:if>
						</div>
						<div class="right-inner-right">
							<h3>
								{votingProposal.shortTitle} - easyvote.ch
							</h3>
							<p>
								www.easyvote.ch<br />
								{f:translate(key:'LLL:EXT:easyvote/Resources/Private/Language/locallang.xlf:votingAnswer.iSayYes')}!
							</p>
						</div>
					</div>
				</div>
				<div class="share-preview-container">
					<div class="left">
						<div class="share-links">
							<a class="share-popup" href="https://twitter.com/home?status={f:translate(key:'LLL:EXT:easyvote/Resources/Private/Language/locallang.xlf:votingAnswer.iSayYes')} - '{votingProposal.shortTitle}'. {f:translate(key:'LLL:EXT:easyvote/Resources/Private/Language/locallang.xlf:votingAnswer.getInformation')} {votingProposal.permalink} @easyvote_ch">
								<i class="social-icon twitter"><span class="sr-only">Twitter</span></i>
							</a>
						</div>
					</div>
					<div class="right">
						<p>
							{f:translate(key:'LLL:EXT:easyvote/Resources/Private/Language/locallang.xlf:votingAnswer.iSayYes')} - '{votingProposal.shortTitle}'. {f:translate(key:'LLL:EXT:easyvote/Resources/Private/Language/locallang.xlf:votingAnswer.getInformation')}
							{f:uri.page(pageUid:settings.votingPid, absolute: 1, additionalParams:{tx_easyvote_currentvotings:{selectSingle:votingProposal.uid}})}
						</p>
					</div>
				</div>
			</f:then>
			<f:else>
				<f:comment>
					<!-- MOBILE APP -->
				</f:comment>
				<div class="share-preview-container">
					<div class="left">
						<div class="share-links">
							<a class="share-app" href="share://title={votingProposal.shortTitle -> f:format.urlencode()}&text={f:translate(key:'LLL:EXT:easyvote/Resources/Private/Language/locallang.xlf:votingAnswer.iSayYes') -> f:format.urlencode()}&url={votingProposal.permalink -> f:format.urlencode()}">
								<i class="evicon-share"></i>
							</a>
						</div>
					</div>
					<div class="right">
						<p>
							'{votingProposal.shortTitle}' - {f:translate(key:'LLL:EXT:easyvote/Resources/Private/Language/locallang.xlf:votingAnswer.iSayYes')}
							{votingProposal.permalink}
						</p>
					</div>
				</div>
			</f:else>
		</f:if>
	</f:then>
	<f:else>
		<f:if condition="{settings.context} != 'app'">
			<f:then>
				<div class="share-preview-container">
					<div class="left">
						<div class="share-links">
							<a class="share-popup" href="https://www.facebook.com/sharer/sharer.php?u={votingProposal.permalink}">
								<i class="social-icon facebook"><span class="sr-only">Facebook</span></i>
							</a>
						</div>
					</div>
					<div class="right">
						<div class="right-inner-left">
							<f:if condition="{votingProposal.image}">
								<f:then>
									<img src="{v:uri.image(relative: false, src: 'uploads/tx_easyvote/{votingProposal.image}')}" />
								</f:then>
								<f:else>
									<img src="/typo3conf/ext/easyvote/Resources/Public/Images/easyvote-logo-fb.png" />
								</f:else>
							</f:if>
						</div>
						<div class="right-inner-right">
							<h3>
								{votingProposal.shortTitle} - easyvote.ch
							</h3>
							<p>
								www.easyvote.ch<br />
								{f:translate(key:'LLL:EXT:easyvote/Resources/Private/Language/locallang.xlf:votingAnswer.iSayNo')}!
							</p>
						</div>
					</div>
				</div>
				<div class="share-preview-container">
					<div class="left">
						<div class="share-links">
							<a class="share-popup" href="https://twitter.com/home?status={f:translate(key:'LLL:EXT:easyvote/Resources/Private/Language/locallang.xlf:votingAnswer.iSayNo')} - '{votingProposal.shortTitle}'. {f:translate(key:'LLL:EXT:easyvote/Resources/Private/Language/locallang.xlf:votingAnswer.getInformation')} {votingProposal.permalink} @easyvote_ch">
								<i class="social-icon twitter"><span class="sr-only">Twitter</span></i>
							</a>
						</div>
					</div>
					<div class="right">
						<p>
							{f:translate(key:'LLL:EXT:easyvote/Resources/Private/Language/locallang.xlf:votingAnswer.iSayNo')} - '{votingProposal.shortTitle}'. {f:translate(key:'LLL:EXT:easyvote/Resources/Private/Language/locallang.xlf:votingAnswer.getInformation')}
							{votingProposal.permalink}
						</p>
					</div>
				</div>
			</f:then>
			<f:else>
				<f:comment>
					<!-- MOBILE APP -->
				</f:comment>
				<div class="share-preview-container">
					<div class="left">
						<div class="share-links">
							<a class="share-app" href="share://title={votingProposal.shortTitle -> f:format.urlencode()}&text={f:translate(key:'LLL:EXT:easyvote/Resources/Private/Language/locallang.xlf:votingAnswer.iSayNo') -> f:format.urlencode()}&url={votingProposal.permalink -> f:format.urlencode()}">
								<i class="evicon-share"></i>
							</a>
						</div>
					</div>
					<div class="right">
						<p>
							'{votingProposal.shortTitle}' - {f:translate(key:'LLL:EXT:easyvote/Resources/Private/Language/locallang.xlf:votingAnswer.iSayNo')}
							{votingProposal.permalink}
						</p>
					</div>
				</div>
			</f:else>
		</f:if>
	</f:else>
</f:if>
