<html xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

{namespace ev=Tx_Easyvote_ViewHelpers}
{namespace v=Tx_Vhs_ViewHelpers}
<f:layout name="Default"/>

<f:section name="main">



	<ev:script file="{f:uri.resource(path:'JavaScript/VotingResultChart.js')}"/>
	<ev:script file="{f:uri.resource(path:'JavaScript/Libraries/D3/d3.js')}"/>
	<ev:script file="{f:uri.resource(path:'JavaScript/Libraries/D3pie/d3pie.js')}"/>

	<div id="votingsDashboard">

		<f:if condition="{metaVotingProposal.scope} == 1">
			<f:then>
				<f:render partial="MetaVotingProposal/SingleItem" arguments="{metaVotingProposal:metaVotingProposal}"/>
			</f:then>
			<f:else>
				<f:if condition="{metaVotingProposal.kanton.uid} == {requestedKanton.uid}">
					<f:render partial="MetaVotingProposal/SingleItem" arguments="{metaVotingProposal:metaVotingProposal}"/>
				</f:if>
			</f:else>
		</f:if>

	<f:if condition="{votingDay.metaVotingProposals -> f:count()} > 1">
		<div class="">
			<div class="col-xs-12">
				<div class="header-topic header-layout-11">
					<h2>{f:translate(key:'tx_easyvote_domain_model_votingproposal.related')} <span class="subheader-topic"><f:format.date format="d.m.Y">{metaVotingProposal.votingDay.votingDate}</f:format.date></span></h2>
				</div>
			</div>
		</div>

		<div class="">

		<f:for each="{votingDay.metaVotingProposals}" as="relatedMetaVotingProposal">
			<f:if condition="{metaVotingProposal.uid} != {relatedMetaVotingProposal.uid}">
				<div class="col-xs-12 col-md-6">
					<f:link.action controller="MetaVotingProposal" action="show" arguments="{metaVotingProposal:relatedMetaVotingProposal}">

				<f:if condition="{relatedMetaVotingProposal.image}">
					<f:then>
						<div class="home-box-item"
							 style="background-image:url('{f:uri.image(src: '{relatedMetaVotingProposal.image.uid}', treatIdAsReference: 1, maxWidth: 364, maxHeight: 191)}')">
							<f:render section="boxContent" arguments="{relatedMetaVotingProposal:relatedMetaVotingProposal}" />
						</div>
					</f:then>
					<f:else>
						<div class="home-box-item">
							<f:render section="boxContent" arguments="{relatedMetaVotingProposal:relatedMetaVotingProposal}" />
						</div>
					</f:else>
				</f:if>
					</f:link.action>

				</div>

				<f:comment>
					<div class="meta-abstimmungsvorlage-related" style="position:relative">
						<f:if condition="{relatedMetaVotingProposal.image}">
							<f:then>
								<div class="meta-abstimmungsvorlage-img" style="">
									<f:image src="{relatedMetaVotingProposal.image.uid}" treatIdAsReference="1" class="img-responsive" alt="Symbolbild" maxWidth="364" maxHeight="191" />
								</div>
							</f:then>
							<f:else>
								<div class="meta-abstimmungsvorlage-img" style="height:191px;background-color:#cccccc">&nbsp;</div>
							</f:else>
						</f:if>
						<f:for each="{relatedMetaVotingProposal.votingProposals}" as="relatedProposal">
							<f:link.action controller="MetaVotingProposal" action="show" arguments="{metaVotingProposal:relatedMetaVotingProposal}">
								<div class="text-overlay">
									<h2>{relatedProposal.shortTitle}</h2>
									<h3>{relatedProposal.officialTitle}</h3>
								</div>
							</f:link.action>
						</f:for>
					</div>

				</f:comment>

			</f:if>
		</f:for>


			</div>
		</f:if>
    </div>
	<script>
		var ajaxUri = '<f:uri.page pageUid="{settings.communityAjaxPid}" absolute="TRUE" pageType="999" />';
	</script>

	<f:render partial="CommunityUser/NotAuthenticatedModal"/>

	<script>
		window.EasyvoteGraph = window.EasyvoteGraph || {};

		EasyvoteGraph.Label = {};
		EasyvoteGraph.Label.yes = '{f:translate(key: "graph.yes")}';
		EasyvoteGraph.Label.no = '{f:translate(key: "graph.no")}';
		EasyvoteGraph.Label.proposalAbbreviated = '{f:translate(key: "graph.proposalAbbreviated")}';
		EasyvoteGraph.Label.counterProposalAbbreviated = '{f:translate(key: "graph.counterProposalAbbreviated")}';

	</script>

</f:section>

<f:section name="boxContent">
	<f:for each="{relatedMetaVotingProposal.votingProposals}" as="votingProposal" iteration="iterator">
		<f:if condition="{iterator.isFirst}">

			<div class="box-content themen-layout-11 abstimmungsvorlage abstimmungsvorlage-meta-{relatedMetaVotingProposal.uid}"
				 id="abstimmungsvorlage-{votingProposal.uid}">
				<f:if condition="{relatedMetaVotingProposal.type} == 2">
					<f:then>
						<div class="multipleVotingsNavi">
							<f:translate key="tx_easyvote_archive.mitGegenvorschlag"/>
						</div>
					</f:then>
				</f:if>
				<h2>{votingProposal.shortTitle}</h2>
				<h3>
					<f:format.date format="d.m.Y">{relatedMetaVotingProposal.votingDay.votingDate}</f:format.date>
					&nbsp;–&nbsp;
					{votingProposal.officialTitle}
				</h3>
			</div>
		</f:if>
	</f:for>
</f:section>

</html>