{namespace vi=Visol\Easyvote\ViewHelpers}
<f:if condition="{dataCompletionRequestNecessary}">
	<div class="hidden" id="dataCompletionRequestModal">
		<h2><f:translate key="editProfile.dataCompletionRequestModalHeader" /></h2>
		<f:form noCacheHash="true" enctype="multipart/form-data" pageUid="{settings.communityEditProfilePid}" pluginName="Profile" action="updateProfile" name="communityUser" object="{communityUser}">
			<div id="dataCompletionRequestModalContent" class="row">
				<div class="col-xs-12 col-md-6" id="dataCompletionRequestModalLeft">
					<f:if condition="{communityUser.citySelection}">
						<f:else>
							<div class="form-group">
								<label>{f:translate(key:'editProfile.placeholderCity')}</label>
								<f:form.textfield class="form-control citySelection" property="citySelection" additionalAttributes="{required: required}" />
							</div>
						</f:else>
					</f:if>
					<f:if condition="{communityUser.birthdate}">
						<f:else>
							<div class="form-group">
								<label for="birthday">{f:translate(key:'editProfile.placeholderBirthdate')}</label>
								<f:form.textfield id="birthday" class="form-control" property="birthdate" value="{communityUser.birthdate -> f:format.date(format:'d.m.Y')}">
									<f:format.date format="d.m.Y">{communityUser.birthdate}</f:format.date>
								</f:form.textfield>
							</div>
						</f:else>
					</f:if>
					<div class="checkbox">
						<label for="goToTeacherProfile">
							<f:form.checkbox id="goToTeacherProfile" name="goToTeacherProfile" value="1" /> <f:translate key="editProfile.teacher.enabled" />
						</label>
					</div>
					<div class="checkbox">
						<label for="goToPoliticianProfile">
							<f:form.checkbox id="goToPoliticianProfile" name="goToPoliticianProfile" value="1" /> <f:translate key="editProfile.politician.enabled" />
						</label>
					</div>
				</div>
				<div class="col-xs-12 col-md-6" id="dataCompletionRequestModalRight">
					<f:security.ifHasRole role="{settings.communityEmailUserGroupUid}">
						<f:if condition="{communityUser.falImage}">
							<f:else>
								<div class="form-group">
									<label for="dataCompletionRequestModalFalImage">{f:translate(key:'editProfile.placeholderImage')}</label>
									<img class="dataCompletionRequestModalPreviewImage" src="/typo3conf/ext/easyvote/Resources/Public/Images/profilepicture-placeholder.png" />
									<vi:form.upload id="dataCompletionRequestModalFalImage" property="falImage" />
								</div>
							</f:else>
						</f:if>
					</f:security.ifHasRole>
				</div>
			</div>
			<div class="form-group">
				<button class="btn btn-primary" type="submit"><f:translate key="editProfile.save" /></button>
			</div>
		</f:form>
	</div>
</f:if>