{namespace v=Tx_Vhs_ViewHelpers}
{namespace ev=Tx_Easyvote_ViewHelpers}
{namespace vi=Visol\Easyvote\ViewHelpers}

<div class="content-box">
	<h2><f:translate key="editProfile.header" /></h2>
	<f:flashMessages renderMode="div" />
	<f:render partial="FormErrors" arguments="{for: ''}" />
	<div id="useroverview-mobile" class="hidden-md hidden-lg">
		<div class="row">
			<div class="col-xs-4 sameheight">
				<f:render partial="CommunityUser/Image" arguments="{user:user, settings:settings, size: '263'}" />
			</div>
			<div class="col-xs-8 sameheight">
				<h3>{user.firstName} {user.lastName}</h3>
				<p>
					<f:if condition="{user.age}">{user.age} <f:translate key="userOverview.years" /><br /></f:if>
					<f:if condition="{user.citySelection}">
						{user.citySelection.postalCode} {user.citySelection.name}
					</f:if>
				</p>
			</div>
		</div>
	</div>
	<form>
		<div class="form-group hidden-xs hidden-sm">
			<input type="text" class="form-control" readonly value="{user.firstName} {user.lastName}" />
		</div>
	</form>
	<f:form noCacheHash="true" enctype="multipart/form-data" class="editProfileForm" action="updateProfile" name="communityUser" object="{user}">
		<div class="form-group">
			<label for="address">{f:translate(key:'editProfile.placeholderAddress')}</label>
			<f:form.textarea class="form-control" id="address" property="address" />
		</div>
		<div class="form-group">
			<label>{f:translate(key:'editProfile.placeholderCity')}</label>
			<f:if condition="{user.citySelection}">
				<input type="text" class="cityOutput form-control" readonly value="{user.citySelection.postalCode} {user.citySelection.name} ({user.citySelection.kanton.name})" />
			</f:if>
			<f:form.textfield class="form-control citySelection" property="citySelection" additionalAttributes="{required: required}" />
		</div>
		<div class="form-group">
			<label for="phoneNumber">{f:translate(key:'editProfile.placeholderMobile')}</label>
			<div class="row">
				<div class="col-xs-3">
					<select name="tx_easyvote_profile[phoneNumberPrefix]" class="form-control">
						<f:for each="{phoneNumberPrefixes}" as="phoneNumberPrefix" key="key">
							<option {f:if(condition:'{0: \'{user.prefixCode}\'} == {0:\'{key}\'}', then:'selected=selected')} value="{key}">{phoneNumberPrefix.label}</option>
						</f:for>
					</select>
				</div>
				<div class="col-xs-9">
					<f:form.textfield id="phoneNumber" name="communityUser[telephone]" value="{user.telephoneWithoutPrefix}" class="form-control" additionalAttributes="{maxlength: '7'}" />
				</div>
			</div>
		</div>
		<f:comment>
			// Problem da E-Mail-Adresse = Benutzername
			<div class="form-group">
				<label for="email">{f:translate(key:'editProfile.placeholderEmail')}</label>
				<f:form.textfield id="email" class="form-control" property="email" additionalAttributes="{required: required}" />
			</div>
		</f:comment>
		<div class="form-group">
			<label for="birthday">{f:translate(key:'editProfile.placeholderBirthdate')}</label>
			<f:form.textfield id="birthday" class="form-control" property="birthdate" additionalAttributes="{required: required}" value="{user.birthdate -> f:format.date(format:'d.m.Y')}">
				<f:format.date format="d.m.Y">{user.birthdate}</f:format.date>
			</f:form.textfield>
		</div>
		<f:security.ifHasRole role="{settings.communityEmailUserGroupUid}">
			<div class="form-group">
				<label for="image">{f:translate(key:'editProfile.placeholderImage')}</label>
				<vi:form.upload id="image" property="falImage" />
			</div>
		</f:security.ifHasRole>
		<div class="form-group form-row-radio">
			<label>{f:translate(key:'editProfile.placeholderLanguage')}</label>
			<div class="input-group">
				<label class="radio-inline" for="userLanguage-1"><f:form.radio id="userLanguage-1" name="communityUser[userLanguage]" value="1" checked="{user.userLanguage} == 1" /> Deutsch</label>
				<label class="radio-inline" for="userLanguage-2"><f:form.radio id="userLanguage-2" name="communityUser[userLanguage]" value="2" checked="{user.userLanguage} == 2" /> Français</label>
				<label class="radio-inline" for="userLanguage-3"><f:form.radio id="userLanguage-3" name="communityUser[userLanguage]" value="3" checked="{user.userLanguage} == 3" /> Italiano</label>
			</div>
		</div>
		<div class="form-group form-row-radio">
			<label>{f:translate(key:'editProfile.placeholderGender')}</label>
			<div class="input-group">
				<label class="radio-inline" for="gender-1"><f:form.radio id="gender-1" name="communityUser[gender]" value="1" checked="{user.gender} == 1" /> <i class="evicon-male"></i></label>
				<label class="radio-inline" for="gender-2"><f:form.radio id="gender-2" name="communityUser[gender]" value="2" checked="{user.gender} == 2" /> <i class="evicon-female"></i></label>
			</div>
		</div>
		<div class="form-group">
			<button class="btn btn-primary" type="submit"><f:translate key="editProfile.save" /></button>
		</div>
		<f:link.action controller="CommunityUser" action="removeProfile" arguments="{communityUser:user}" class="hasModal"><f:translate key="editProfile.remove" /></f:link.action>
		<div class="hidden">
			<p><f:translate key="editProfile.removeInformation" /></p>
			<button class="pull-left btn btn-primary button-cancel"><f:translate key="editProfile.removeCancel" /></button>
			<button class="pull-right btn btn-primary button-confirm"><f:translate key="editProfile.removeConfirm" /></button>
		</div>
	</f:form>
</div>
<script>
	var postalCodeServiceUrl = "{f:uri.action(controller: 'City', action:'listCitiesByPostalCode', pluginName: 'communityAjax', absolute: 'TRUE', noCacheHash: 'TRUE', pageType: 999, pageUid: settings.communityAjaxPid)}";
</script>