{namespace v=Tx_Vhs_ViewHelpers}
{namespace ev=Tx_Easyvote_ViewHelpers}

<div class="community-plugins">
	<div class="csc-default box box-lightblue">
		<h2>Vote-Wecker</h2>
		<h3>Was ist der Vote-Wecker?</h3>
		<p>
			Damit du die nächsten Abstimmungen nicht vergisst oder verschläfst, können sie den easyvote Vote-Wecker stellen. Der Vote-Wecker erinnert deine Freunde und dich per Mail und SMS über bevorstehende Abstimmungen und Wahlen.
		</p>
		<f:flashMessages renderMode="div" />
		<f:form class="inputForm" action="updateNotifications" name="communityUser" object="{user}">
			<h3>Vote-Wecker per E-Mail</h3>
			<div class="form-row">
				<f:form.textfield property="email" additionalAttributes="{required: required, placeholder:'E-Mail-Adresse'}" />
			</div>
			<div class="form-row form-row-radio">
				<f:form.radio id="notificationMailActive-1" name="communityUser[notificationMailActive]" value="1" checked="{user.notificationMailActive} == 1" /> <label for="notificationMailActive-1">aktiviert</label>
				<f:form.radio id="notificationMailActive-0" name="communityUser[notificationMailActive]" value="0" checked="{user.notificationMailActive} == 0" /> <label for="notificationMailActive-0">deaktiviert</label>
			</div>
			<h3>Vote-Wecker per SMS</h3>
			<div class="form-row">
				<f:form.textfield property="telephone" additionalAttributes="{placeholder:'Mobiltelefon'}" />
			</div>
			<div class="form-row form-row-radio">
				<f:form.radio id="notificationSmsActive-1" name="communityUser[notificationSmsActive]" value="1" checked="{user.notificationSmsActive} == 1" /> <label for="notificationSmsActive-1">aktiviert</label>
				<f:form.radio id="notificationSmsActive-0" name="communityUser[notificationSmsActive]" value="0" checked="{user.notificationSmsActive} == 0" /> <label for="notificationSmsActive-0">deaktiviert</label>
			</div>
			<div class="form-row">
				<button type="submit">Speichern</button>
			</div>
		</f:form>
	</div>
</div>