{namespace v=Tx_Vhs_ViewHelpers}
{namespace ev=Tx_Easyvote_ViewHelpers}
<div class="community-plugins">
	<div class="csc-default box box-lightblue">
		<h2><f:translate key="editNotifications.header" /></h2>
		<h3><f:translate key="editNotifications.whatIs" /></h3>
		<p>
			<f:translate key="editNotifications.introduction" />
		</p>
		<f:flashMessages renderMode="div" />
		<f:render partial="FormErrors" arguments="{for: ''}" />
		<f:form class="inputForm" action="updateNotifications" name="communityUser" object="{user}">
			<h3><f:translate key="editNotifications.sectionEmailHeader" /></h3>
			<div class="form-row">
				<f:form.textfield property="email" additionalAttributes="{required: required, placeholder:'{f:translate(key:\'editProfile.placeholderEmail\')}'}" />
			</div>
			<div class="form-row form-row-radio">
				<f:form.radio id="notificationMailActive-1" name="communityUser[notificationMailActive]" value="1" checked="{user.notificationMailActive} == 1" /> <label for="notificationMailActive-1"><f:translate key="editNotifications.stateActive" /></label>
				<f:form.radio id="notificationMailActive-0" name="communityUser[notificationMailActive]" value="0" checked="{user.notificationMailActive} == 0" /> <label for="notificationMailActive-0"><f:translate key="editNotifications.stateInactive" /></label>
			</div>
			<h3><f:translate key="editNotifications.sectionSmsHeader" /></h3>
			<div class="form-row">
				<select name="tx_easyvote_notifications[phoneNumberPrefix]" class="formfield-phoneNumberPrefix">
					<f:for each="{phoneNumberPrefixes}" as="phoneNumberPrefix" key="key">
						<option {f:if(condition:'{0: \'{user.prefixCode}\'} == {0:\'{key}\'}', then:'selected=selected')} value="{key}">{phoneNumberPrefix}</option>
					</f:for>
				</select>
				<f:form.textfield name="communityUser[telephone]" value="{user.telephoneWithoutPrefix}" class="formfield-phoneNumber" additionalAttributes="{placeholder:'{f:translate(key:\'editProfile.placeholderMobile\')}'}" />
			</div>
			<div class="form-row form-row-radio">
				<f:form.radio id="notificationSmsActive-1" name="communityUser[notificationSmsActive]" value="1" checked="{user.notificationSmsActive} == 1" /> <label for="notificationSmsActive-1"><f:translate key="editNotifications.stateActive" /></label>
				<f:form.radio id="notificationSmsActive-0" name="communityUser[notificationSmsActive]" value="0" checked="{user.notificationSmsActive} == 0" /> <label for="notificationSmsActive-0"><f:translate key="editNotifications.stateInactive" /></label>
			</div>
			<div class="form-row">
				<button type="submit"><f:translate key="editNotifications.save" /></button>
			</div>
		</f:form>
	</div>
</div>