<div class="table-responsive">
	<table id="listMobilizedCommunityUsers" class="table">
		<tbody>
			<f:for each="{user.notificationRelatedUsers}" as="notificationRelatedUser">
				<tr>
					<td width="30%">{notificationRelatedUser.firstName} {notificationRelatedUser.lastName}</td>
					<td width="30%">{notificationRelatedUser.email}</td>
					<td width="20%">
						<f:if condition="{notificationRelatedUser.userLanguage} == 1">
							Deutsch
						</f:if>
						<f:if condition="{notificationRelatedUser.userLanguage} == 2">
							Français
						</f:if>
						<f:if condition="{notificationRelatedUser.userLanguage} == 3">
							Italiano
						</f:if>
					</td>
					<td width="20%">
						<f:form noCacheHash="true" class="removeMobilizedCommunityUser" action="removeMobilizedCommunityUser" name="notificationRelatedUser" object="{notificationRelatedUser}">
							<button class="btn btn-notext pull-right" type="submit"><i class="evicon-cancel" title="{f:translate(key: 'LLL:EXT:easyvote/Resources/Private/Language/locallang.xlf:mobilizedCommunityUser.remove')}"></i></button>
						</f:form>
					</td>
				</tr>
			</f:for>
		</tbody>
	</table>
</div>