{namespace v=Tx_Vhs_ViewHelpers}
{namespace ev=Tx_Easyvote_ViewHelpers}

<div class="pull-left login-status">
	<f:security.ifAuthenticated>
		<f:then>
			<f:security.ifHasRole role="{settings.communityUserGroupUid}">
				<f:link.page pageUid="{settings.communityHomePid}">
					<f:if condition="{user.image}">
						<f:then>
							<f:image class="user-image" alt="{user.firstName} {user.lastName}" src="uploads/pics/{user.image}" width="50" height="50c"/>
						</f:then>
						<f:else>
							<img class="user-image-small" src="https://graph.facebook.com/{user.username}/picture?width=50&height=50" height="50" width="50" alt="{user.firstName} {user.lastName}">
						</f:else>
					</f:if>
				</f:link.page>
				<f:translate key="loginPanel.loggedInAs" />
				<div class="user-name"><f:link.page pageUid="{settings.communityHomePid}">{user.firstName} {user.lastName}</f:link.page></div>
			</f:security.ifHasRole>
		</f:then>
	</f:security.ifAuthenticated>
</div>
<div class="pull-right">
	<f:security.ifAuthenticated>
		<f:then>
			<f:security.ifHasRole role="{settings.communityUserGroupUid}">
				<f:link.page class="ui-button muted" pageUid="{settings.siteHomePid}" additionalParams="{logintype:'logout'}"><f:translate key="loginPanel.logout" /></f:link.page>
			</f:security.ifHasRole>
		</f:then>
		<f:else>
			<f:link.action extensionName="vifbauth" pluginName="Auth" pageUid="{settings.loginPid}" controller="Authentication" action="login">
				<f:image src="EXT:easyvote/Resources/Public/Images/button-facebook-login.png" alt="Log in with Facebook" />
			</f:link.action><br />
			<a class="hasModal" href="#"><f:translate key="loginPanel.register" /></a>
			<div class="hidden profile-popup">
				<a class="pull-right qtip-close" aria-label="schliessen">
					<i class="icon icon-remove"></i>
				</a>
				<h2><f:translate key="loginPanel.modalHeader" /></h2>
				<div class="ym-clearfix">
					<div class="pull-left" style="width: 50%;">
						<p class="introduction">
							<f:translate key="loginPanel.modalFacebookHeader" />
						</p>
						<p>
							<f:link.action extensionName="vifbauth" pluginName="Auth" pageUid="{settings.loginPid}" controller="Authentication" action="login">
								<f:image src="EXT:easyvote/Resources/Public/Images/button-facebook-login.png" alt="Log in with Facebook" />
							</f:link.action>
						</p>
					</div>
					<div class="pull-right" style="width: 50%;">
						<p class="introduction">
							<f:translate key="loginPanel.modalAdvantages" />
						</p>
						<table class="advantages">
							<tr>
								<td>
									<f:image src="EXT:easyvote/Resources/Public/Images/vorteile-broschuere.png" alt="" />
								</td>
								<td>
									<f:translate key="loginPanel.modalAdvantage.1" />
								</td>
							</tr>
							<tr>
								<td>
									<f:image src="EXT:easyvote/Resources/Public/Images/vorteile-wecker.png" alt="" />
								</td>
								<td>
									<f:translate key="loginPanel.modalAdvantage.2" />
								</td>
							</tr>
							<tr>
								<td>
									<f:image src="EXT:easyvote/Resources/Public/Images/vorteile-sprechblase.png" alt="" />
								</td>
								<td>
									<f:translate key="loginPanel.modalAdvantage.3" />
								</td>
							</tr>
						</table>
					</div>
				</div>
				<p>
					<f:translate key="loginPanel.modalLegalInfo" />
				</p>
			</div>
		</f:else>
	</f:security.ifAuthenticated>
</div>