{namespace v=Tx_Vhs_ViewHelpers}
{namespace ev=Tx_Easyvote_ViewHelpers}

<div class="login-status">
	<f:security.ifAuthenticated>
		<f:then>
			<f:security.ifHasRole role="{settings.communityUserGroupUid}">
				<f:link.page pageUid="{settings.communityHomePid}">
					<f:render partial="CommunityUser/Image" arguments="{user:user, settings:settings, size:'50'}" />
				</f:link.page>
				<f:translate key="loginPanel.loggedInAs" />
				<div class="user-name"><f:link.page pageUid="{settings.communityHomePid}">{user.firstName} {user.lastName}</f:link.page></div>
			</f:security.ifHasRole>
		</f:then>
	</f:security.ifAuthenticated>
</div>
<div class="login-actions">
	<f:security.ifAuthenticated>
		<f:then>
			<f:security.ifHasRole role="{settings.communityUserGroupUid}">
				<f:link.page class="link-box" pageUid="{settings.siteHomePid}" additionalParams="{logintype:'logout'}"><f:translate key="loginPanel.logout" /></f:link.page>
				<f:comment><f:link.page class="link-box" additionalParams="{logintype:'logout'}"><f:translate key="loginPanel.logout" /></f:link.page></f:comment>
			</f:security.ifHasRole>
		</f:then>
		<f:else>
			<a class="hasModal login-link link-box" href="#"><f:translate key="loginPanel.login" /></a>
			<div class="hidden login-popup">
				<a class="pull-right qtip-close" aria-label="schliessen">
					<i class="evicon-cancel"></i>
				</a>
				<f:render partial="CommunityUser/LoginModal" />
			</div>
			<br />
			<a class="hasModal register-link" href="#"><f:translate key="loginPanel.register" /></a>
			<div class="hidden profile-popup">
				<a class="pull-right qtip-close" aria-label="schliessen">
					<i class="evicon-cancel"></i>
				</a>
				<f:render partial="CommunityUser/NoProfileModal" />
			</div>
		</f:else>
	</f:security.ifAuthenticated>
</div>