{namespace v=Tx_Vhs_ViewHelpers}
{namespace ev=Tx_Easyvote_ViewHelpers}

<div class="pull-left login-status">
	<f:security.ifAuthenticated>
		<f:then>
			<f:security.ifHasRole role="{settings.communityUserGroupUid}">
				<f:if condition="{user.image}">
					<f:then>
						<f:image class="user-image" alt="{user.firstName} {user.lastName}" src="uploads/pics/{user.image}" width="50" height="50c"/>
					</f:then>
					<f:else>
						<img src="https://graph.facebook.com/{user.username}/picture?width=50&height=50" height="50" width="50" alt="{user.firstName} {user.lastName}">
					</f:else>
				</f:if>
				angemeldet als
				<div class="user-name">{user.firstName} {user.lastName}</div>
			</f:security.ifHasRole>
		</f:then>
	</f:security.ifAuthenticated>
</div>
<div class="pull-right">
	<f:security.ifAuthenticated>
		<f:then>
			<f:security.ifHasRole role="{settings.communityUserGroupUid}">
				<f:link.page pageUid="{settings.communityHomePid}">Profil</f:link.page>
				<f:link.page class="muted" pageUid="{settings.siteHomePid}" additionalParams="{logintype:'logout'}">Abmelden</f:link.page>
			</f:security.ifHasRole>
		</f:then>
		<f:else>
			<f:link.action extensionName="vifbauth" pluginName="Auth" pageUid="{settings.loginPid}" controller="Authentication" action="login">Anmelden</f:link.action>
			<a class="hasModal" href="#">Registrieren</a>
			<div class="hidden">
				<a class="pull-right qtip-close" aria-label="schliessen">
					<i class="icon icon-remove"></i>
				</a>
				<h2>Registrierung</h2>
				<p class="introduction">Registriere dich jetzt bei easyvote, um die angewählte Funktion verwenden zu können.</p>
				<div class="ym-clearfix">
					<div class="pull-left" style="width: 50%;">
						<p class="introduction">
							Registrierung mit Facebook
						</p>
						<p>
							<f:link.action extensionName="vifbauth" pluginName="Auth" pageUid="{settings.loginPid}" controller="Authentication" action="login">
								<f:image src="EXT:easyvote/Resources/Public/Images/button-facebook-login.png" alt="Log in with Facebook" />
							</f:link.action>
						</p>
					</div>
					<div class="pull-right" style="width: 50%;">
						<p>Informiere dich einfach und neutral
						über Abstimmungen und Wahlen!</p>
						<p>Stelle den Vote-Wecker für dich
						und deine Freude, damit ihr keinen
						Urnengang verpasst.</p>
						<p>Mache mit beim Abstimmungsrating
						und teile deine Meinung!
						Weitere Features folgen...</p>
					</div>
				</div>
				<p>
					Wenn du fortfährst, bestätigst Du, dass Du unsere Allgemeinen Geschäftsbedingungen,
					Datenschutzrichtlinien und Richtlinien zu Cookies gelesen und akzeptiert hast.
				</p>
			</div>
		</f:else>
	</f:security.ifAuthenticated>
</div>