{namespace v=Tx_Vhs_ViewHelpers}
{namespace ev=Tx_Easyvote_ViewHelpers}

<div class="user-functions">
	<f:link.page class="wrapping-link" pageUid="{settings.communityVoteweckerPid}">
		<div class="box-votewecker">
			<div class="evicon-votewecker"></div>
			<h2 class="center"><f:translate key="userFunctions.voteWecker" /></h2>
		</div>
	</f:link.page>
	<f:link.page class="wrapping-link" pageUid="{settings.communityMobilizePid}">
		<div class="box-mobilize">
			<h2 class="center"><f:translate key="userFunctions.mobilizeUsers" /></h2>
		</div>
	</f:link.page>
</div>