{namespace v=Tx_Vhs_ViewHelpers}
{namespace ev=Tx_Easyvote_ViewHelpers}

<div class="community-plugins">
	<f:link.page class="wrapping-link" pageUid="{settings.communityVoteweckerPid}">
		<div class="box box-pink box-square">
			<div class="evicon-votewecker"></div>
			<h2 class="center">Stelle deinen Vote-Wecker!</h2>
		</div>
	</f:link.page>
	<f:link.page class="wrapping-link" pageUid="{settings.communityMobilizePid}">
		<div class="box box-signalblue">
			<h2 class="center">Freunde mobilisieren</h2>
		</div>
	</f:link.page>
</div>