{namespace v=Tx_Vhs_ViewHelpers}
{namespace ev=Tx_Easyvote_ViewHelpers}

<div class="community-plugins">
	<f:render partial="CommunityUser/Image" arguments="{user:user, settings:settings, size: '263'}" />
	<div class="csc-default box box-pink">
		<h2>{user.firstName} {user.lastName}</h2>
		<p>
			<f:if condition="{user.age}">{user.age} <f:translate key="userOverview.years" /><br /></f:if>
			<f:if condition="{user.citySelection}">
				{user.citySelection.postalCode} {user.citySelection.name}
			</f:if>
		</p>
	</div>
</div>