#votingsDashboard {
    display: none;

	.col-md-3 {
		margin-bottom: 30px;
	}
	.col-md-6 {
		margin-bottom: 30px;
	}
}

.tabapp .col-66, .tabapp .col-33 {
    min-height: 1px;
}

.abstimmungsvorlage {
    background-color: @box-background;
    padding: @box-padding;
	.rounded-corners();
    margin-bottom: 20px;
}

.tabapp .abstimmungsvorlage {
    padding: 20px;
}

.searchResultsHeader h2{
    padding-top: 10px;
    margin-bottom: 0px;
}

.abstimmungsvorlage h2{
    line-height: 130%;
}

.abstimmungsvorlage h3{
    color: @pink;
    border-top: 1px solid @text-blue;
    padding-top: 8px;

}

.abstimmungsvorlage h3.noLine {
    border-top: 0;
    padding-top: 0;
}

.abstimmungsvorlage h3.toggle-trigger {
    width: 100%;
    cursor: pointer;
    position: relative;
}

.abstimmungsvorlage h3.toggle-trigger div.toggle-handle {
	&:before {
		.fontello-icon('\e829');
	}
    position: absolute;
    right: 0;
    top: 8px;
    width: 16px;
}

.abstimmungsvorlage h3.toggle-trigger div.toggle-handle-plus {
	&:before {
		.fontello-icon('\e827');
	}
}

.abstimmungsvorlage .toggle-closed {
    display: none;
}

.abstimmungsvorlage-header {
    font-family: "Ubuntu", Arial, Helvetica, sans-serif;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    position: relative;
}

.abstimmungsvorlage-teaser {
    font-family: "Ubuntu", Arial, Helvetica, sans-serif;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    position: relative;
    margin-top: 15px;
}

.abstimmungsvorlage-header .handle {
    display: none
}

.abstimmungsvorlage-subheader-left {
    width: 65px;
    float: left;
}

.abstimmungsvorlage-subheader-right {
    float: left;
}

.tabapp .abstimmungsvorlage-subheader-right {
    width: 357px;
}

.abstimmungsvorlage-subheader-right p {
    line-height: 16px;
}

.abstimmungsvorlage-teaser span.abstimmungsvorlage-datum {
    color: @pink;
    font-weight: 500;
}

.youtube-embed {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.meta-abstimmungsvorlage {
    display: block;
}

.meta-abstimmungsvorlage-navi {
    font-family: "Ubuntu", Arial, Helvetica, sans-serif;
	background-color: @box-background;
	padding: @box-padding;
	.rounded-corners();
    margin-bottom: 20px;
    cursor: pointer;
    position: relative;
}

.tabapp .meta-abstimmungsvorlage-navi {
    padding: 20px;
}

.meta-abstimmungsvorlage-navi p.abstimmungsvorlage-subheader {
    margin-bottom: 0;
}

.meta-abstimmungsvorlage-navi span.abstimmungsvorlage-datum {
    color: @pink;
    font-weight: 500;
}

.meta-abstimmungsvorlage-navi h2 {
    margin-bottom: 10px;
}

.abstimmungsvorlage div.actions {
    margin-top: 15px;
}

.abstimmungsvorlage div.actions .action {
    float: left;
    margin: 0 15px 10px 0;
}

.abstimmungsvorlage .action.facebook {
    width: 84px;
    height: 86px;
}

.abstimmungsvorlage .actions .vote {
    float: left;
    margin-left: 20px;
    text-align: center;
}

.abstimmungsvorlage .actions .vote-color-up {
    color: #00adef;
}

.abstimmungsvorlage .actions .vote-color-down {
    color: @pink;
}

.abstimmungsvorlage .actions .vote-handle {
    font-size: 35px;
    padding-right: 3px;
}

.abstimmungsvorlage .actions .vote-handle-up {
}

.abstimmungsvorlage .actions .vote-handle-down {
}

.abstimmungsvorlage .actions .vote-result-up {
    color: #005476;
}

.abstimmungsvorlage .actions .vote-result-down {
}

.abstimmungsvorlage .vote-active {
    text-shadow: 3px 3px 3px #005476;
    padding-right: 0;
}

.abstimmungsvorlage .vote-disabled {
    color: #ccc !important;
    cursor: default;
}

#flashMessageContainer {
    display: none;
}

.navi-3 ul {
    padding: 0 !important;
    background: none !important;
}

.navi-3 ul:before, .navi-3 ul:after {
    display: none;
}

div.pagination { border-top: 1px solid @text-blue; padding-top: 10px; }
div.pagination div.previous { float: left; width: 100px; min-height: 1px; text-align: left; }
div.pagination div.next { float: left; width: 100px; text-align: right; }
div.pagination div.stat { float: left; width: 340px; text-align: center; line-height: 30px; }
div.pagination a {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    text-transform: uppercase;
    background-color: @pink;
    color: #fff;
    text-decoration: none;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
div.pagination a:hover {
    color: #fff;
    text-decoration: none;
}

.searchResults .abstimmungsvorlage-content {
    display: none;
}

.searchResults .abstimmungsvorlage-header {
    cursor: pointer;
}

.searchResults .abstimmungsvorlage-header .handle {
    position: absolute;
    display: inline-block;
    right: 0;
    top: 0;
}

.searchResults p.multipleVotingsNavi { display: none; }

.searchResults .meta-abstimmungsvorlage-gegenvorschlag .abstimmungsvorlage:first-child { margin-bottom: 0; border-radius: 15px 15px 0 0; }
.searchResults .meta-abstimmungsvorlage-gegenvorschlag .abstimmungsvorlage:nth-child(2n+2) { border-radius: 0 0 15px 15px; }

.searchResults .meta-abstimmungsvorlage {
    display: block;
}

.clearer {
    height: 1px;
    clear: both;
    visibility: hidden;
}

.archiveSearch h4 { margin-bottom: 10px; font-weight: 500; }
.archiveSearch .left { float: left; width: 220px; margin-right: 20px; }
.archiveSearch .left input { width: 200px; padding: 2px; }
.archiveSearch .right{ float: left; width: 240px; }
.archiveSearch .filter-kanton { width: 110px; float: left; margin-right: 20px; }
.archiveSearch .filter-year { width: 110px; float: left; }
.archiveSearch label { margin-left: 5px; }
.archiveSearch .filters input { margin-bottom: 3px; }
.archiveSearch .controls { margin-top: 20px; }
.archiveSearch .controls-left { width: 110px; float: left; margin-right: 20px; }
.archiveSearch .controls-right { width: 110px; float: left; }
.archiveSearch input[type=submit] { padding: 2px 5px; }
.archiveSearch input[type=reset] { padding: 2px 5px; }

/* Generic Style for Community UI */
.hidden { display: none; }
.hasTooltip { cursor: pointer; }

/* Community */
.community-plugins img.user-image {
	.rounded-corners();
    margin-bottom: 15px;
	width: 100%;
}

.community-plugins .box {
	.rounded-corners();
    margin: 0 0 20px 0;
    padding: 30px;
    color: #fff;
}

.community-plugins .box h2 {
    margin-bottom: 10px;
    color: #fff !important;
}

.community-plugins .box h3 {
    .font-ubuntu();
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 10px;
    color: #005476;
}

.community-plugins .box *:last-child {
    margin-bottom: 0;
}

.community-plugins .box h2.center {
    text-align: center;
}

.community-plugins .box-blue {
    background-color: #97E3F8;
}

.community-plugins .box-lightblue {
    background-color: #AEE9F9;
    color: @text-blue;
}

.community-plugins .box-lightblue h2 {
    color: @pink !important;
}

.community-plugins .box-signalblue {
    background-color: #2BABE2
}

.community-plugins .box-pink {
    background-color: @pink;
}

.community-plugins .box-square {
    height: 200px; /* 260-30-30 */
}

.community-plugins .evicon-votewecker {
	&:before {
		.fontello-icon('\e838');
		color: @white;
		font-size: 70px;
		margin-bottom: 30px;
	}
	text-align: center;
    margin: 0 auto;
}

.community-plugins .wrapping-link, .community-plugins .wrapping-link *, .community-plugins .wrapping-link *:hover {
    text-decoration: none !important;
}

div.login-status {
	position: absolute;
	top: 15px;
	left: 335px;
	color: #fff;
	width: 200px;

	a {
		color: @white;
	}

	img {
		float: left;
		margin-right: 15px;
	}

	.user-name {
		font-family: "Ubuntu", Arial, Helvetica, sans-serif;
		font-weight: 500;
		font-size: 18px;
		padding-top: 5px;
	}
}


div.login-actions {
	position: absolute;
	top: 15px;
	right: 30px;
    width: 202px;
	text-align: right;
	font-size: 0;
	a {
		font-size: 14px;
		&.register-link {
			color: @text-blue;
		}
	}
}

table.advantages {
    border: 0;
	tr:hover td {
    	background-color: transparent;
	}

	tr td {
    	border: 0;
		i {
			color: @text-blue;
		}
	}
}

/* User Profile Forms */
.inputForm {
    margin-bottom: 10px;
}

.form-row {
    margin-bottom: 10px;
    clear: both;
}

.form-row:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.form-row input[type=text],
.form-row select,
.form-row textarea,
.form-row input[type=password] {
    width: 280px;
    border: 0;
    padding: 5px;
}

.form-row input[readonly], .form-row input[readonly="readonly"] {
    background: #e3e3e3;
}

#communityUser-cityOutput {
	margin-bottom: 10px;
}

form select.formfield-phoneNumberPrefix {
	height: 26px;
	width: 60px;
	float: left;
	margin-right: 10px;
}

form input.formfield-phoneNumber {
	width: 210px;
	float: left;
}

.form-row select {
    width: 290px;
}


.form-row .formfield-zip {
    width: 290px;
}

.form-row.form-row-radio label {
    margin-right: 10px;
}

.typo3-messages {
    background: white;
    padding: 10px;
    margin-bottom: 20px;

	&.errors {
		background: #FF9F9F;
	}
}


.community-plugins .mobilization-notification-example {
    padding: 15px;
    width: 450px;
    background-color: #fff;
}

.community-plugins table {
    border: 0;
    margin-bottom: 20px;
}

.community-plugins table tbody tr td {
    vertical-align: middle;
    line-height: 1.3em;
    padding: 5px;
    border-top: 0;
    border-bottom: 2px solid grey;
}

.community-plugins table tr.no-border td {
    border: 0;
}

.community-plugins table tbody tr:hover td {
    background-color: transparent;
}

.community-plugins #newMobilizedCommunityUser {
    clear: both;
    float: left;
    width: auto;
}

.community-plugins #newMobilizedCommunityUserPlaceholder {
    margin-bottom: 10px;
}

.fb-share-link, .fb-share-link img {
    cursor: pointer;
}

.siteheader-countdown {
    cursor: pointer;
}

div.no-profile {
	.clearfix();
	margin-bottom: 20px;
	.pull-left {
		width: 50%;
		padding-right: 15px;
	}
	.pull-right {
		padding-left: 15px;
		width: 50%;
	}
}

ul.validationResults {
	list-style: none;
	margin: 0 0 20px 0;
	padding: 0;
	li {
		font-weight: bold;
		margin-bottom: 10px;
		ul {
			list-style: disc;
			margin: 0 0 0 17px;
			padding: 0;
			li {
				font-weight: normal;
			}
		}
	}
}

div#dataCompletionRequestModalContent {
	.clearfix();
	#dataCompletionRequestModalLeft {
		width: 50%;
		padding-right: 10px;
	}
	#dataCompletionRequestModalRight {
		width: 50%;
		padding-left: 10px;

		.dataCompletionRequestModalPreviewImage {
			width: 100%;
			margin-bottom: 15px;
		}
	}
}