<f:be.container addCssFile="{f:uri.resource(path:'Stylesheets/backend.css')}">
	<div class="typo3-fullDoc">
		<div id="typo3-docheader">
			<div class="typo3-docheader-functions">
				<div class="left">
					<f:be.buttons.csh />
					<f:be.menus.actionMenu>
						<f:be.menus.actionMenuItem label="{f:translate(key: 'backendDashboard')}" controller="CommunityUser" action="backendDashboard" />
						<f:be.menus.actionMenuItem label="{f:translate(key: 'smsMessaging')}" controller="CommunityUser" action="backendSmsMessagingIndex" />
						<f:be.menus.actionMenuItem label="{f:translate(key: 'emailExport')}" controller="CommunityUser" action="backendEmailExportIndex" />
					</f:be.menus.actionMenu>
				</div>
				<div class="right">
				</div>
			</div>
			<div class="typo3-docheader-buttons">
				<div class="left">
					<f:render section="iconButtons" />
				</div>
				<div class="right">
					<f:be.buttons.shortcut />
				</div>
			</div>
		</div>
		<div id="typo3-docbody">
			<div id="typo3-inner-docbody">
				<h2><f:translate key="easyvoteCommunity">easyvote Community</f:translate></h2>

				<f:flashMessages renderMode="div" />

				<f:render section="content" />
			</div>
		</div>
	</div>
</f:be.container>