{namespace v=Tx_Vhs_ViewHelpers}
{namespace ev=Tx_Easyvote_ViewHelpers}
<f:layout name="Default" />

<f:section name="main">
	<div id="votingsDashboard">
		<section class="col-floatLeft col-marginRight col-left col-25">
			<f:if condition="{requestedKanton}">
				<f:then>
					<div class="flag-big flag-{v:format.case(string: requestedKanton.abbreviation, case: 'lower')}"></div>
				</f:then>
				<f:else>
					<div class="flag-big flag-ch"></div>
				</f:else>
			</f:if>
		</section>
		<section class="col-floatLeft col-marginRight col-50 col-middle">
			<f:for each="{votingDay.metaVotingProposals}" as="metaVotingProposal" iteration="metaIterator">
				<f:if condition="{metaVotingProposal.scope} == 1">
					<f:then>
						<f:render partial="MetaVotingProposal/SingleItem" arguments="{settings:settings, metaVotingProposal:metaVotingProposal, metaIterator:metaIterator, votingDay:votingDay, settings:settings}" />
					</f:then>
					<f:else>
						<f:if condition="{metaVotingProposal.kanton.uid} == {requestedKanton.uid}">
							<f:render partial="MetaVotingProposal/SingleItem" arguments="{settings:settings, metaVotingProposal:metaVotingProposal, metaIterator:metaIterator, votingDay:votingDay}" />
						</f:if>
					</f:else>
				</f:if>
			</f:for>
		</section>
		<section class="col-floatLeft col-25 col-right">
			<f:for each="{votingDay.metaVotingProposals}" as="metaVotingProposal">
				<f:if condition="{metaVotingProposal.scope} == 1">
					<f:then>
						<f:render partial="MetaVotingProposal/SingleNaviItem" arguments="{metaVotingProposal:metaVotingProposal, votingDay:votingDay}" />
					</f:then>
					<f:else>
						<f:if condition="{metaVotingProposal.kanton.uid} == {requestedKanton.uid}">
							<f:render partial="MetaVotingProposal/SingleNaviItem" arguments="{metaVotingProposal:metaVotingProposal, votingDay:votingDay}" />
						</f:if>
					</f:else>
				</f:if>
			</f:for>
		</section>
	</div>
	<script>
		var ajaxUri = '<f:uri.page pageUid="{settings.communityAjaxPid}" absolute="TRUE" pageType="999" />'
	</script>
	<div class="hidden" id="notAuthenticatedNotificationModal">
		<a class="pull-right qtip-close" aria-label="schliessen">
			<i class="evicon-cancel"></i>
		</a>
		<h2><f:translate key="loginPanel.modalHeaderNotAuthenticated" /></h2>
		<div class="ym-clearfix">
			<p class="introduction">
				<f:translate key="loginPanel.modalSubheaderNotAuthenticated" />
			</p>
			<div class="pull-left" style="width: 50%;">
				<p class="introduction">
					<f:translate key="loginPanel.modalFacebookHeader" />
				</p>
				<p>
					<f:link.action extensionName="vifbauth" pluginName="Auth" pageUid="{settings.loginPid}" controller="Authentication" action="login">
						<f:image src="EXT:easyvote/Resources/Public/Images/button-facebook-login.png" alt="Log in with Facebook" />
					</f:link.action>
				</p>
			</div>
			<div class="pull-right" style="width: 50%;">
				<p class="introduction">
					<f:translate key="loginPanel.modalAdvantages" />
				</p>
				<table class="advantages">
					<tr>
						<td>
							<f:image src="EXT:easyvote/Resources/Public/Images/vorteile-broschuere.png" alt="" />
						</td>
						<td>
							<f:translate key="loginPanel.modalAdvantage.1" />
						</td>
					</tr>
					<tr>
						<td>
							<f:image src="EXT:easyvote/Resources/Public/Images/vorteile-wecker.png" alt="" />
						</td>
						<td>
							<f:translate key="loginPanel.modalAdvantage.2" />
						</td>
					</tr>
					<tr>
						<td>
							<f:image src="EXT:easyvote/Resources/Public/Images/vorteile-sprechblase.png" alt="" />
						</td>
						<td>
							<f:translate key="loginPanel.modalAdvantage.3" />
						</td>
					</tr>
				</table>
			</div>
		</div>
		<p>
			<f:translate key="loginPanel.modalLegalInfo" htmlEscape="false" arguments="{1: '{f:uri.page(pageUid:settings.privacyStatementFile, absolute:\'TRUE\')}'}" />
		</p>
	</div>
</f:section>