{namespace v=Tx_Vhs_ViewHelpers}
{namespace ev=Tx_Easyvote_ViewHelpers}
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

<div id="votingsDashboard">
	<section class="col-floatLeft col-marginRight col-left col-25">
		<f:if condition="{requestedKanton}">
			<f:then>
				<div class="flag-big flag-{v:format.case(string: requestedKanton.abbreviation, case: 'lower')}"></div>
			</f:then>
			<f:else>
				<div class="flag-big flag-ch"></div>
			</f:else>
		</f:if>
	</section>
	<section class="col-floatLeft col-marginRight col-50 col-middle">
		<f:for each="{votingDay.metaVotingProposals}" as="metaVotingProposal" iteration="metaIterator">
			<f:if condition="{metaVotingProposal.scope} == 1">
				<f:then>
					<f:render partial="MetaVotingProposal/SingleItem" arguments="{metaVotingProposal:metaVotingProposal, metaIterator:metaIterator, votingDay:votingDay}" />
				</f:then>
				<f:else>
					<f:if condition="{metaVotingProposal.kanton.uid} == {requestedKanton.uid}">
						<f:render partial="MetaVotingProposal/SingleItem" arguments="{metaVotingProposal:metaVotingProposal, metaIterator:metaIterator, votingDay:votingDay}" />
					</f:if>
				</f:else>
			</f:if>
		</f:for>
	</section>
	<section class="col-floatLeft col-25 col-right">
		<f:for each="{votingDay.metaVotingProposals}" as="metaVotingProposal">
			<f:if condition="{metaVotingProposal.scope} == 1">
				<f:then>
					<f:render partial="MetaVotingProposal/SingleNaviItem" arguments="{metaVotingProposal:metaVotingProposal, votingDay:votingDay}" />
				</f:then>
				<f:else>
					<f:if condition="{metaVotingProposal.kanton.uid} == {requestedKanton.uid}">
						<f:render partial="MetaVotingProposal/SingleNaviItem" arguments="{metaVotingProposal:metaVotingProposal, votingDay:votingDay}" />
					</f:if>
				</f:else>
			</f:if>
		</f:for>
	</section>
</div>




</f:section>