{namespace v=Tx_Vhs_ViewHelpers}
{namespace ev=Tx_Easyvote_ViewHelpers}
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

<style type="text/css">
	#votingsDashboard {
		display: none;
	}

	#votingsDashboard .col-left, #votingsDashboard .col-right {
		width: 260px;
		min-height: 1px;
	}

	#votingsDashboard .col-middle {
		width: 540px;
		min-height: 1px;
	}

	.meta-abstimmungsvorlage-navi {
		background-color: #97e3f8;
		padding: 40px 30px 50px 30px;
		-webkit-border-radius: 15px;
		border-radius: 15px;
		margin-bottom: 20px;
	}

	.abstimmungsvorlage {
		background-color: #97e3f8;
		padding: 40px 30px 50px 30px;
		-webkit-border-radius: 15px;
		border-radius: 15px;
		margin-bottom: 20px;
	}

	.abstimmungsvorlage h2{
		color: #ed0a71;
		font-size: 20px;
		text-transform: uppercase;
		margin-bottom: 10px;
	}

	.abstimmungsvorlage h3{
		color: #ed0a71;
	}

	.abstimmungsvorlage header{
		font-family: "Ubuntu", Arial, Helvetica, sans-serif;
		line-height: 20px;
		margin-left: 80px;
		text-align: left;
	}

	.meta-abstimmungsvorlage {
		display: none;
	}

	.meta-abstimmungsvorlage-open {
		display: block;
	}
</style>


<div id="votingsDashboard">
	<section class="col-floatLeft col-marginRight col-left col-25">
		links
	</section>
	<section class="col-floatLeft col-marginRight col-50 col-middle">
		<f:for each="{votingDay.metaVotingProposals}" as="metaVotingProposal" iteration="metaIterator">
			<div class="meta-abstimmungsvorlage {f:if(condition: '{metaVotingProposal.type} == 1', then: 'meta-abstimmungsvorlage-normal', else: 'meta-abstimmungsvorlage-gegenvorschlag')} {f:if(condition: '{metaIterator.isFirst}', then: 'meta-abstimmungsvorlage-open', else: '')}"  id="meta-abstimmungsvorlage-{metaVotingProposal.uid}">
				<f:for each="{metaVotingProposal.votingProposals}" as="votingProposal" iteration="iterator">
					<div class="abstimmungsvorlage abstimmungsvorlage-meta-{metaVotingProposal.uid}" id="abstimmungsvorlage-{votingProposal.uid}">
						<h2>{votingProposal.shortTitle}</h2>
						<f:if condition="{metaVotingProposal.type} == 2">
							<f:if condition="{iterator.isFirst}">
								<f:then>
									<p>Zu dieser Abstimmungsvorlage gibt es einen <a href="#" id="goToGegenvorschlag">Gegenvorschlag</a>.</p>
								</f:then>
								<f:else>
									<p>Dies ist der Gegenvorschlag. <a href="#" id="goToHauptvorlage">Zurück zur Vorlage</a>.</p>
								</f:else>
							</f:if>
						</f:if>
						<p class="abstimmungsvorlage-subheader">
							<span class="abstimmungsvorlage-datum">
								<f:format.date format="d.m.Y">{votingDay.votingDate}</f:format.date>
							</span>
							•
							{votingProposal.officialTitle}
						</p>
						<div class="abstimmungsvorlage-content">
							<f:if condition="{votingProposal.youtubeUrl}">
								<ev:youtube videoUrl="{votingProposal.youtubeUrl}"></ev:youtube>
							</f:if>
							<h3><f:translate key="tx_easyvote_domain_model_votingproposal.goal" /></h3>
							<div><f:format.html parseFuncTSPath="lib.parseFunc">{votingProposal.goal}</f:format.html></div>
							<h3><f:translate key="tx_easyvote_domain_model_votingproposal.initial_status" /></h3>
							<div><f:format.html parseFuncTSPath="lib.parseFunc">{votingProposal.initialStatus}</f:format.html></div>
							<h3><f:translate key="tx_easyvote_domain_model_votingproposal.consequences" /></h3>
							<div><f:format.html parseFuncTSPath="lib.parseFunc">{votingProposal.consequences}</f:format.html></div>
							<h3><f:translate key="tx_easyvote_domain_model_votingproposal.pro_arguments" /></h3>
							<div><f:format.html parseFuncTSPath="lib.parseFunc">{votingProposal.proArguments}</f:format.html></div>
							<h3><f:translate key="tx_easyvote_domain_model_votingproposal.contra_arguments" /></h3>
							<div><f:format.html parseFuncTSPath="lib.parseFunc">{votingProposal.contraArguments}</f:format.html></div>
							<h3><f:translate key="tx_easyvote_domain_model_votingproposal.government_opinion" /></h3>
							<div><f:format.html parseFuncTSPath="lib.parseFunc">{votingProposal.governmentOpinion}</f:format.html></div>
							<h3><f:translate key="tx_easyvote_domain_model_votingproposal.links" /></h3>
							<div><f:format.html parseFuncTSPath="lib.parseFunc">{votingProposal.links}</f:format.html></div>
						</div>
					</div>
				</f:for>
			</div>
		</f:for>
	</section>
	<section class="col-floatLeft col-25 col-right">
		<f:for each="{votingDay.metaVotingProposals}" as="metaVotingProposal" iteration="metaIterator">
			<div class="meta-abstimmungsvorlage-navi" id="meta-abstimmungsvorlage-navi-{metaVotingProposal.uid}">
					<v:var.set name="first" value="{metaVotingProposal.votingProposals -> v:iterator.first()}" />
					<h2>{first.shortTitle}</h2>
					<p class="abstimmungsvorlage-subheader">
						<span class="abstimmungsvorlage-datum">
							<f:format.date format="d.m.Y">{votingDay.votingDate}</f:format.date>
						</span>
					</p>
			</div>
		</f:for>
	</section>

</div>

<script>
	$(function() {
		initializeVotings();
		bindNavigation();

		$('a#goToGegenvorschlag').click(function() {
			var jumpToId = $(this).closest('div').next().attr('id');
			scrollToElement('#' + jumpToId);
		});
		$('a#goToHauptvorlage').click(function() {
			var jumpToId = $(this).closest('div').prev().attr('id');
			scrollToElement('#' + jumpToId);
		});
	});

	function initializeVotings() {
		var currentVoting = $('.meta-abstimmungsvorlage-open').attr('id').split('-')[2];
		$('#meta-abstimmungsvorlage-navi-' + currentVoting).hide();
		$('#votingsDashboard').show();
	}

	function bindNavigation() {
		$('.meta-abstimmungsvorlage-navi').click(function() {
			var metaVotingId = $(this).attr('id').split('-')[3];
			$('.meta-abstimmungsvorlage-navi').unbind('click');
			openVoting(metaVotingId);
		});
	}

	function openVoting(metaVotingId) {
		var openVoting = $('.meta-abstimmungsvorlage-open').attr('id');
		var openVotingId = openVoting.split('-')[2];
		$('#' + openVoting).slideUp(500, function() {
			$('#meta-abstimmungsvorlage-navi-' + metaVotingId).slideUp(500, function() {
				$('#meta-abstimmungsvorlage-' + metaVotingId).slideDown(500, function() {
					$('#meta-abstimmungsvorlage-navi-' + openVotingId).slideDown(500, function() {
						$('#meta-abstimmungsvorlage-' + metaVotingId).toggleClass('meta-abstimmungsvorlage-open');
						$('#' + openVoting).toggleClass('meta-abstimmungsvorlage-open');
						bindNavigation();
					});
				});
			});
		});
	}

	function scrollToElement(elementId){
		$('html, body').animate({
			scrollTop: $(elementId).offset().top
		}, 1000);
	}
</script>


</f:section>