<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for VotingProposal</h1>

<f:flashMessages />

<table  class="tx_easyvote" >
	<tr>
		<th><f:translate key="tx_easyvote_domain_model_votingproposal.short_title" /></th>
		<th><f:translate key="tx_easyvote_domain_model_votingproposal.official_title" /></th>
		<th><f:translate key="tx_easyvote_domain_model_votingproposal.youtube_url" /></th>
		<th><f:translate key="tx_easyvote_domain_model_votingproposal.goal" /></th>
		<th><f:translate key="tx_easyvote_domain_model_votingproposal.initial_status" /></th>
		<th><f:translate key="tx_easyvote_domain_model_votingproposal.consequence" /></th>
		<th><f:translate key="tx_easyvote_domain_model_votingproposal.pro_arguments" /></th>
		<th><f:translate key="tx_easyvote_domain_model_votingproposal.contra_arguments" /></th>
		<th><f:translate key="tx_easyvote_domain_model_votingproposal.government_opinion" /></th>
		<th><f:translate key="tx_easyvote_domain_model_votingproposal.links" /></th>
		<th><f:translate key="tx_easyvote_domain_model_votingproposal.proposal_approval" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{votingProposals}" as="votingProposal">
		<tr>
			<td><f:link.action action="show" arguments="{votingProposal : votingProposal}"> {votingProposal.shortTitle}</f:link.action></td>
			<td><f:link.action action="show" arguments="{votingProposal : votingProposal}"> {votingProposal.officialTitle}</f:link.action></td>
			<td><f:link.action action="show" arguments="{votingProposal : votingProposal}"> {votingProposal.youtubeUrl}</f:link.action></td>
			<td><f:link.action action="show" arguments="{votingProposal : votingProposal}"> {votingProposal.goal}</f:link.action></td>
			<td><f:link.action action="show" arguments="{votingProposal : votingProposal}"> {votingProposal.initialStatus}</f:link.action></td>
			<td><f:link.action action="show" arguments="{votingProposal : votingProposal}"> {votingProposal.consequence}</f:link.action></td>
			<td><f:link.action action="show" arguments="{votingProposal : votingProposal}"> {votingProposal.proArguments}</f:link.action></td>
			<td><f:link.action action="show" arguments="{votingProposal : votingProposal}"> {votingProposal.contraArguments}</f:link.action></td>
			<td><f:link.action action="show" arguments="{votingProposal : votingProposal}"> {votingProposal.governmentOpinion}</f:link.action></td>
			<td><f:link.action action="show" arguments="{votingProposal : votingProposal}"> {votingProposal.links}</f:link.action></td>
			<td><f:link.action action="show" arguments="{votingProposal : votingProposal}"> {votingProposal.proposalApproval}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{votingProposal : votingProposal}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{votingProposal : votingProposal}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New VotingProposal</f:link.action>
</f:section>